<span class="col-lg-6 pull-left">
<h3>XML API Keys</h3>
<table class="table table-striped table-condensed">
    <thead>
	<th>Label</th>
        <th>keyID</th>
        <th>Last Validated</th>
        <th>&nbsp;</th>
    </thead>
    <tbody>
        {% for data in data.apiKeys %}
		<tr>
			<td>{{ data.label }}</td>
			<td>{{ data.keyID }}</td>
			<td>{{ data.lastValidation }}</td>
			<td style="text-align: right;">
				<form name="deleteapi" method="post" action="/account/api/">
					<input id="deletekeyid" name="deletekeyid" type="hidden" value="{{ data.keyID }}">
					<input type="submit" class="btn btn-danger btn-sm" value="Remove" onclick="return confirm('Are you sure you want to remove this API key?');">
				</form>
			</td>
	    </tr>
        {% endfor %}
    </tbody>
</table>
</span>

<span class="col-lg-6 pull-left">
<h3>SSO API Keys</h3>
<table class="table table-striped table-condensed col-lg-4">
    <thead>
	<th>ID</th>
        <th>Last Validated</th>
        <th>&nbsp;</th>
    </thead>
    <tbody>
        {% for data in data.apiSsoKeys %}
                <tr>   
			<td>{{ data._id }}</td>
                        <td>{{ data.lastValidation }}</td>
                        <td style="text-align: right;">
                                <form name="deleteapi" method="post" action="/account/api/">
                                        <input id="deletekeyid" name="deletekeyid" type="hidden" value="{{ data._id }}">
                                        <input type="submit" class="btn btn-danger btn-sm" value="Remove" onclick="return confirm('Are you sure you want to remove this API key?');">
                                </form>                        </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
<i>Everytime you login a new SSO key is generated.</i><br/><br/>
</span>

<div class="clearfix"></div>

<span class="col-lg-6 pull-left">
Manage XML API Keys here:<br/><a href='https://community.eveonline.com/support/api-key/'>https://community.eveonline.com/support/api-key/</a><br/>
</span>
<span class="col-lg-6 pull-left">
Manage SSO API Keys here:<br/><a href='https://community.eveonline.com/support/third-party-applications/'>https://community.eveonline.com/support/third-party-applications/</a><br/>
</span>

<div class="clearfix"></div>

<h3>Add API key</h3>
<div class="well">
	<form name="addapi" method="post" action="/account/api/" class="form-horizontal">
		<p>To quickly create an API key, go to <a href="https://community.eveonline.com/support/api-key/CreatePredefined?accessMask=256" target="_blank">https://community.eveonline.com/support/api-key/CreatePredefined?accessMask=256/</a><br>(We only require KillLog, but feel free to tick off more.)</p>
		<div class="form-group">
			<label for="keyid" class="form-label col-lg-1">Key ID</label>
			<div class="col-lg-3">
				<input id="keyid" name="keyid" type="text" required placeholder="Key ID" class="form-control">
			</div>
		</div>
		<div class="form-group">
			<label for="vcode" class="form-label col-lg-1">vCode</label>
			<div class="col-lg-5">
				<input id="vcode" name="vcode" type="text" required placeholder="vCode" class="form-control">
			</div>
		</div>
		<div class="form-group">
			<label for="label" class="form-label col-lg-1">Label</label>
			<div class="col-lg-3">
				<input id="label" name="label" type="text" placeholder="Label" class="form-control">
			</div>
		</div>
		<div class="form-group">
			<div class="col-lg-2 col-lg-offset-1">
				<input type="submit" class="btn btn-primary" value="Add API">
			</div>
		</div>
</form>
</div>
