<div class="row">
	<form class="form" name="campaigninfo" id="campaigninfo" method="post" action="/account/campaigns/">
		<div class="form-group">
			<label for="name">Enter the name for this campaign:</label>
			<input type="text" class="form-control" autocomplete="off" placeholder="Name of this campaign..." id="name" name="name">
		</div>
		<div class="form-group">
			<label for="teanBName">Enter the name for Team A:</label>
			<input type="text" class="form-control" autocomplete="off" placeholder="Name of Team A" id="teamAName" name="teamAName">
		</div>
		<div class="form-group">
			<label for="teamBName">Enter the name for Team B:</label>
			<input type="text" class="form-control" autocomplete="off" placeholder="Name of Team B" id="teamBName" name="teamBName">
		</div>
		<div>
			<label for="startTime">Start Time</label>
			<input type="datetime" class="form-control" autocomplete="off" placeholder="Start Time" id="startTime" name="startTime">
		</div>
		<div>
			<label for="endTime">End Time</label>
			<input type="datetime" class="form-control" autocomplete="off" placeholder="End Time" id="endTime" name="endTime">
		</div>
		<br/>
		<input type="hidden" name="campaignID" value="{{ data.campainID }}"/>
		<input  class="btn btn-primary" type="submit" name="Submit"/>
	</form>
</div>
<hr/>
<div class="row">
	{% set teamName = 'Team A' %}
	{% set team = 'A' %}
	{% include 'account/components/campaign_team.html' %}

	{% set teamName = 'Team B' %}
	{% set team = 'B' %}
	{% include 'account/components/campaign_team.html' %}
</div>
