<h3>Change Password</h3>
<form class="well form-horizontal" name="updatepassword" method="post" action="/account/changepassword/">
	<div class="form-group">
		<label for="orgpw" class="col-lg-2 control-label">Old password</label>
		<div class="col-lg-3">
			<input id="orgpw" name="orgpw" type="password" required placeholder="old password" class="form-control">
		</div>
	</div>
	<div class="form-group">
        <label for="password" class="col-lg-2 control-label">New password</label>
        <div class="col-lg-3">
			<input id="password" name="password" type="password" required placeholder="new password" class="form-control">
        </div>
    </div>
	<div class="form-group">
        <label for="password2" class="col-lg-2 control-label">Confirm password</label>
        <div class="col-lg-3">
			<input id="password2" name="password2" type="password" required placeholder="new password confirmation" class="form-control">
        </div>
    </div>
	<div class="form-group">
        <div class="col-lg-3 col-lg-offset-2">
			 <input type="submit" value="Change Password" class="btn btn-primary" />
        </div>
    </div>
</form>
