span.col-lg-12.float-start
  h3 Log
  table.table.table-striped.table-sm
    thead
      tr
        th.col-lg-2 Time
        th Message
    tbody
      each $entry in ($data['log'] ?? [])
        tr
          td
            - $entryTime = $entry['entryTime'] ?? null;
            if ($entryTime instanceof MongoDB\BSON\UTCDateTime)
              = $entryTime->toDateTime()->format('Y/m/d H:i:s')
            elseif (is_array($entryTime) && isset($entryTime['sec']))
              = date('Y/m/d H:i:s', (int) $entryTime['sec'])
          td= $entry['message'] ?? ''
