<div class="row">
	<div class="col-lg-6">
		<h3>Theme</h3>
				<form class="form-horizontal" name="styles" method="post" action="/account/sitesettings/">
					<div class="form-group col-lg-3">
						<select name="style" class="form-control input-sm">
						{% for style in data.stylesAvailable %}
							{% set selected = "" %}
							{% if style == data.currentStyle %}{% set selected = "selected"%}{% endif %}
							<option value="{{ style }}" {{ selected }}>{{ style }}</option>
						{% endfor %}
						</select>
					</div>
					<div class="form-group col-lg-2">
					&nbsp;	<input type="submit" class="btn btn-primary btn-sm" value="Set">
					</div>
				</form>
				<p>Site's default is 'cyborg'</p>

		<div class="clearfix"></div>
		<h3>Show Disqus {{ data.showDisqus }}</h3>
			<form class="form-horizontal" method="post" action="/account/sitesettings/">
				<div class="form-group col-lg-3">
					<select name="showDisqus" class="form-control input-sm">
						{% if "true" == data.showDisqus %}{% set selected = "selected"%}{% endif %}
						<option value="true" {{ selected }}>On</option>
						{% set selected = "" %}
						{% if "false" == data.showDisqus %}{% set selected = "selected"%}{% endif %}
						<option value="false" {{ selected }}>Off</option>
					</select>
				</div>
				<div class="form-group col-lg-2">
				&nbsp;	<input type="submit" class="btn btn-primary btn-sm" value="Set">
				</div>
			</form>
			<p>If on, display Disqus.  If off, don't display it.</p>
	</div>
</div>
