.autocomplete-suggestions { border: 1px solid #ccc; background: #000; overflow: auto; cursor: default;}
.autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden; cursor: pointer; }
.autocomplete-selected { background: #007800; }
.autocomplete-suggestions strong { font-weight: normal; color: white; }
.autocomplete-group { padding: 2px 5px; text-transform: capitalize; font-weight: bold; }
.autocomplete-group strong { display: block; border-bottom: 1px solid #fff; }

hr {
    margin: 0px;
    margin-top: 1em;
}

.btn-group {
    margin-top: 1em;
}

.andor, .andor .btn {
    margin: 0px;
    padding: 0px;
}

.p-2 {
    padding: 2px;
}
