body, html {
	height: 108%;
}

.centered { vertical-align:middle; text-align:center; }
.centered img { display:block; margin:0 auto; }

.eveimage { background-color: #222; overflow: hidden; font-size: 0.1px;}

#back-top {
	position: fixed;
	bottom: 50px;
	margin-left: -65px;
}

#back-top a {
	width: 55px;
	display: block;
	text-align: center;
	font: 11px/100% Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	text-decoration: none;
	color: #444;

	/* transition */
	-webkit-transition: 1s;
	-moz-transition: 1s;
	transition: 1s;
}
#back-top a:hover {
	color: #999;
}

/* arrow icon (span tag) */
#back-top span {
	width: 55px;
	height: 60px;
	display: block;
	margin-bottom: 7px;
	background: url(/img/up-arrow.png) no-repeat center center;

	/* transition */
	-webkit-transition: 1s;
	-moz-transition: 1s;
	transition: 1s;
}

.accordion-group {
  margin-bottom: 0px;
  border: 0px;
  -webkit-border-radius: 0px;
     -moz-border-radius: 0px;
          border-radius: 0px;
}
.accordion-inner{
    padding:0px 0px;
    border-top:0px solid #e5e5e5;
}

#left-banner {
position: fixed;
top: 70px;
left: 5px;
z-index: 0;
cursor: pointer;
width: 160px;
}

#right-banner {
position: fixed;
top: 70px;
right: 5px;
z-index: 9500;
cursor: pointer;
width: 160px;
}

.facebook{
	background: url("/img/social/fb_1.png") no-repeat center center;
}
.twitter {
	background: url("/img/social/twitter_1.png") no-repeat center center;
}
.googleplus {
	background: url("/img/social/google_plus.png") no-repeat center center;
}
.reddit {
	background: url("/img/social/reddit.png") no-repeat center center;
}

.rank-table tr td, .rank-table tr th {
	text-align: right;
}

.collapse {
overflow: hidden !important;
}

.footer {
	margin-top: 20px;
	padding-top: 20px;
}

/* also hide the stuff from ladscape ipad */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
	.hidden-tablet {
		display: none;
	}
}

ul.autocomplete { width: 375px; }
ul.autocomplete img { position: absolute; top: 4px; left: 4px; }
ul.autocomplete a { position: relative; padding: 10px 2px 0px 40px; height: 40px; }
ul.autocomplete span { position: absolute; top: 10px; right: 5px; }

/* cut search results on mobile devices to prevent overlapping of category names */
@media only screen and (max-width: 767px) {
	ul.autocomplete a {
		padding: 10px 75px 0px 40px;
		overflow: hidden;
		text-overflow: ellipsis;
	}
}

#addentity label { margin-right: 15px; }
#addentity h3 { display: inline-block; }

[rel=tooltip] + div.tooltip {
	/* prevent hover loop when a tooltip is shown above its triggering element */
	pointer-events: none;
}

/* mobile menu stuff */
.mobileNav {
	position: absolute;
	left: -200px;
	top: 0px;
	width: 200px;
	z-index: 99;
	height: 100%;
}

.content {
	position: relative;
	left: 0;
	top: 0;
	right: 0px;
}

.content.opened {
	left: 200px;
}

.mobileNav.opened {
	left: 0px;
}

.content, .mobileNav {
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.listPilots {
	padding: 10px 0px 10px 0px;
	margin: 10px 0px 10px 0px;
	background: #111;
	border: 1px solid #000;
}

.topimage img {
	width: 100%;
}

@media screen and (min-width: 1024px) {
	.topimage {
		width: 100%;
	}
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
	.dropdown-menu {
		max-height: 200px;
		overflow-y: auto;
		overflow-x: hidden;
	}
}

#loginform {
	padding: 0px 10px;
}

.ttooltip, .arrow:after {
  background: black;
  border: 2px solid white;
}

.X {
    position: relative;
    left: 200px;
    cursor: pointer;
    text-align: right;
    margin-bottom: 5px;
}
.ttooltip {
  opacity: 0;
  width: 250px;
  display: inline-block;
  position: absolute;
  padding: 10px 20px;
  color: white;
  border-radius: 10px;
  margin-top: 20px;
  font: bold 14px "Helvetica Neue", Sans-Serif;
  font-stretch: condensed;
  text-decoration: none;
  box-shadow: 0 0 7px black;
}
.arrow {
  width: 70px;
  height: 16px;
  overflow: hidden;
  position: absolute;
  left: 50%;
  margin-left: -35px;
  bottom: -16px;
}
.arrow:after {
  content: "";
  position: absolute;
  left: 20px;
  top: -20px;
  width: 25px;
  height: 25px;
  -webkit-box-shadow: 6px 5px 9px -9px black,
                      5px 6px 9px -9px black;
  -moz-box-shadow: 6px 5px 9px -9px black,
                   5px 6px 9px -9px black;
  box-shadow: 6px 5px 9px -9px black,
              5px 6px 9px -9px black;
  -webkit-transform: rotate(45deg);
  -moz-transform:    rotate(45deg);
  -ms-transform:     rotate(45deg);
  -o-transform:      rotate(45deg);
}
.ttooltip.active {
  opacity: 1;
  margin-top: 5px;
  -webkit-transition: all 0.2s ease;
  -moz-transition:    all 0.2s ease;
  -ms-transition:     all 0.2s ease;
  -o-transition:      all 0.2s ease;
}
.ttooltip.out {
  opacity: 0;
  margin-top: -20px;
}

td.centered {
    text-align: center;
}

@font-face {
  font-family: 'Triglavian';
  src: url('/data/Triglavian-Regular.ttf') format('truetype');
}

.triglavian {
    font-family: 'Triglavian';
}

.stat-range {
    border-bottom: solid 2px transparent;
    cursor: pointer;
}
.stat-active {
    border-bottom: solid 2px #efefef;
    color: #FCFDFD;
}

@media (max-width: 767px) {
  #details-menu .navbar-nav {
    float: left;
    margin: 0;
  }
  #details-menu .navbar-nav>li {
    float: left;
  }
  #details-menu.navbar-collapse.collapse {
    display: block !important;
    height: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
  }
  #Fitting_Panel {
    zoom: 0.75;
    margin: auto;
  }
}

.pointer {
    cursor: pointer;
}

#nojsfulloverlay {
  color: black;
  background: white;
  width:      100%;
  height:     100%; 
  z-index:    10;
  top:        0; 
  left:       0; 
  position:   fixed; 
  text-align: center;
  padding-top: 1em;
}

.adrow {
    height: 101px;
}
