<hr/>
<h3>Monthly History</h3>
{% set history = statistics.months %} 
{% set lastYear = 0 %}
{% set currentYear = 0 %}
<table class="table table-condensed table-hover">
<thead>
<tr>
	<th><span class="pull-right green">&nbsp;</span></th>
	<th><span class="pull-right green">Kills</span></th>
	<th><span class="pull-right green">Points</span></th>
	<th><span class="pull-right green">ISK</span></th>
	<th><span class="pull-right red">Losses</span></th>
	<th><span class="pull-right red">Points</span></th>
	<th><span class="pull-right red">ISK</span></th>
	<th><span class="pull-right">Efficiency</span></th>
	<th><span class="pull-right">Top 10</span></th>
</tr>
</thead>
{% for month in history %}
	{% if currentYear != month.year %}
		<tr class="heading"><th colspan="9">{{ month.year }}</th></tr>
		{% set currentYear = month.year %}
	{% endif %}
	<tr>
		<td><a href="/{{ key }}/{{ id }}/year/{{ month.year }}/month/{{ month.month }}/">{{ getLongMonth(month.month) }}</a></td>
		<td><span class="pull-right green">{{ month.shipsDestroyed | number_format(0) }}</span></td>
		<td><span class="pull-right green">{{ month.pointsDestroyed | number_format(0) }}</span></td>
		<td><span class="pull-right green">{{ formatIsk(month.iskDestroyed) }}</span></td>
		<td><span class="pull-right red">{{ month.shipsLost | number_format(0) }}</span></td>	
		<td><span class="pull-right red">{{ month.pointsLost | number_format(0) }}</span></td>	
		<td><span class="pull-right red">{{ formatIsk(month.iskLost) }}</span></td>	
		<td><span class="pull-right">{{ (month.iskDestroyed == 0 ? 0 : (month.iskDestroyed / (month.iskDestroyed + month.iskLost) * 100)) | round(2) }}%</span></td>
		<td><span class="pull-right"><a href="/{{ key }}/{{ id }}/top/year/{{ month.year }}/month/{{ month.month }}/">{{ month.month }} / {{ month.year }}</a></span></td>
	<tr>
{% endfor %}
</table>
