{% if pageType == "kills" or pageType == "overview" or pageType == "solo" or pageType=="losses" or pageType == "subdomain" %}
	{% set pageBase = requestUriPager %}
{% elseif pageType == "index" %}
	{% set pageBase = "/kills/" %}
{% else %}
	{% set pageBase = requesturi %}
{% endif %}
{% set pageBase = (pageBase == '' ? '/' : pageBase) %}

<div class="pull-right">
	{% if datepicker == true %}
	<ul class="pagination pagination-sm">
		<li class="pull-left"><input type="text" name="datepicker" class="datepicker" value="{{ month }}/{{ year }}"></li>
	</ul>
	{% endif %}
	<ul class="pagination pagination-sm">
		{% if pager == true %}
			{% if page == 2 %}
				<li><a href="{{ pageBase }}" rel="nofollow prev">&laquo;</a></li>
			{% elseif page > 2 %}
				<li><a href="{{ pageBase }}page/{{ page - 1 }}/" rel="nofollow prev">&laquo;</a></li>
			{% endif %}
	
			{% set startIndex = page - 3 %}
			{% set endIndex = page + 3 %}
	
			{% for pageIndex in startIndex..endIndex %}
				{% if pageIndex == 1 %}
					<li class="{{ isActive(pageIndex, page, 'active') }}"><a href="{{ pageBase }}" rel="nofollow">{{ pageIndex }}</a></li>
				{% elseif pageIndex > 1 %}
					<li class="{{ isActive(pageIndex, page, 'active') }}"><a href="{{ pageBase }}page/{{pageIndex}}/" rel="nofollow">{{ pageIndex }}</a></li>
				{% endif %}
			{% endfor %}
			<li><a href="{{ pageBase }}page/{{ page + 1 }}/" rel="nofollow next">&raquo;</a></li>
		{% endif %}
	</ul>
</div>
