{% extends 'base.html' %}

{% set pageTitle = '404 Not Found' %}
{% block title %}{% include 'components/title.html' %}{% endblock %}

{% block content %}
<h2>404</h2>
<div class="alert alert-danger">The content you're after isn't here. Please go <a onClick="history.go(-1); this.preventDefault()" href="#">back</a> and try again, or use the mighty fine search at the top! ;)
{% if message %}
	<br/>{{ message }}
{% endif %}
</div>
{% endblock %}

{% block robots %}
	<meta name="robots" content="nofollow, noindex">
{% endblock %}
