{% extends 'base.html' %}

{% set pageTitle = "Forgot Password" %}
{% block title %}{% include 'components/title.html' %}{% endblock %}

{% block content %}
{% if message %}
<div class="alert alert-{{ messagetype }}">
	<p>{{ message }}</p>
</div>
{% endif %}
<h2>Forgot Password</h2>
<div class="well">
	<p>Enter your email address, to reset your password.</p>
	<form class="form" name="registration" method="post" action="/forgotpassword/">
		<div class="form-group">
			<input id="email" name="email" type="email" required placeholder="email" class="form-control">
		</div>
		<div class="form-group">
			<input type="submit" value="Send Email" class="btn btn-primary" />
		</div>
	</form>
</div>
{% endblock %}
