extends base.pug

block vars
  - $pageTitle = 'Account';

block title
  include components/title.pug

block content
  if ($message ?? false)
    .alert.alert-success.alert-dismissible.fade.show
      button.btn-close(type="button" data-bs-dismiss="alert" aria-label="Close")
      = $message
  .navbar.navbar-dark.navbar-expand.mb-3
    ul.navbar-nav
      li.nav-item
        a.nav-link(class=(($key ?? '') == 'sitesettings' ? 'active' : '') href="/account/sitesettings/") Settings
      li.nav-item
        a.nav-link(class=(($key ?? '') == 'api' ? 'active' : '') href="/account/api/") API
      li.nav-item
        a.nav-link(class=(($key ?? '') == 'tracker' ? 'active' : '') href="/account/tracker/") Tracker
      li.nav-item
        a.nav-link(class=(($key ?? '') == 'log' ? 'active' : '') href="/account/log/") Log
      li.nav-item
        a.nav-link(class=(($key ?? '') == 'sponsored' ? 'active' : '') href="/account/sponsored/") Sponsored Ships
      if (($adFreeMonthCost ?? 0) > 0)
        li.nav-item
          a.nav-link(class=(($key ?? '') == 'payments' ? 'active' : '') href="/account/payments/") Payments

  if (($key ?? '') == 'log')
    include account/log.pug
  elseif (($key ?? '') == 'sponsored')
    include account/sponsored_ships.pug
  elseif (($key ?? '') == 'api')
    include account/api.pug
  elseif (($key ?? '') == 'tracker')
    include account/tracker.pug
  elseif (($key ?? '') == 'payments')
    include account/payments.pug
  else
    include account/sitesettings.pug

block script
