{% extends 'base.html' %}

{% set pageTitle = 'Account' %}
{% block title %}{% include 'components/title.html' %}{% endblock %}

{% block content %}
	{% if message %}
		<div class="alert alert-success alert-dismissible fade show"><button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>{{ message }}</div>
	{% endif %}

	<div class="navbar navbar-dark navbar-expand mb-3">
		<ul class="navbar-nav">
			<li class="nav-item"><a class="nav-link {{ isActive('sitesettings', key) }}" href="/account/sitesettings/">Settings</a></li>
			<li class="nav-item"><a class="nav-link {{ isActive('api', key) }}" href="/account/api/">API</a></li>
			<li class="nav-item"><a class="nav-link {{ isActive('log', key) }}" href="/account/log/">Log</a></li>
			<li class="nav-item"><a class="nav-link {{ isActive('sponsored', key) }}" href="/account/sponsored/">Sponsored Ships</a></li>
			{% if adFreeMonthCost > 0 %}
			<li class="nav-item"><a class="nav-link {{ isActive('payments', key) }}" href="/account/payments/">Payments</a></li>
			{% endif %}
		</ul>
	</div>

	{% if key == 'me' %}
		{% include 'account/me.html' %}
	{% elseif key == 'log' %}
		{% include 'account/log.html' %}
	{% elseif key == 'sponsored' %}
		{% include 'account/sponsored_ships.html' %}
	{% elseif key == 'changepassword' %}
		{% include 'account/changepassword.html' %}
	{% elseif key == 'changeemail' %}
		{% include 'account/changeemail.html' %}
	{% elseif key == 'api' %}
		{% include 'account/api.html' %}
	{% elseif key == 'sitesettings' %}
		{% include 'account/sitesettings.html' %}
	{% elseif key == 'tracker' %}
		{% include 'account/tracker.html' %}
	{% elseif key == 'subdomains' and reqid %}
		{% include 'account/subdomain_management.html' %}
	{% elseif key == 'subdomains' %}
       		{% include 'account/subdomains.html' %}
	{% elseif key == 'sessions' %}
		{% include 'account/sessions.html' %}
	{% elseif key == 'payments' %}
		{% include 'account/payments.html' %}
	{% elseif key == 'campaigns' %}
		{% include 'account/campaigns.html' %}
	{% elseif key == 'domains' %}
		{% include 'account/domains.html' %}
	{% endif %}
{% endblock %}
{% block script %}
{% endblock %}
