extends base.pug

block vars
  - $pageTitle = 'Advanced Search';

block title
  include components/title.pug

block style
  link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.css" integrity="sha512-bYPO5jmStZ9WI2602V2zaivdAnbAhtfzmxnEGh9RwtlI00I9s8ulGe4oBa5XxiC6tCITJH/QG70jswBhbLkxPw==" crossorigin="anonymous")
  link(rel="stylesheet" href="/css/asearch.css?v=" . $version)

block content
  #asearchcontent.c-ontentrequiredlogin.content
    h3
      button#togglefilters.btn.btn-primary(value="togglefilters" title="Toggle Filter Display")
        i.fas.fa-filter
      span#titlecontent Advanced Search
    hr
    br
    .row.asearchfilters
      .col-md-8
        .mb-3
          input#asearch-autocomplete.asearch-autocomplete.form-control(type="Search" placeholder="Search" aria-label="Search")
      .col-md-4(style="text-align: right;")
        a.btn.btn-secondary.nocatch(href="/asearch/") Reset
        button#btn_export.btn.btn-success(style="background-color: purple; border-color: purple;") Export (zKillBot)
        button#btn_save.btn.btn-success(style="margin-left: 2em;") Save
    hr.asearchfilters
    .row.centered.asearchfilters
      .col-md-6
        label Location
        #location All systems
      .col-md-6
        label Timespan (UTC)
        center
          .btn-group.btn-group-sm.centered(zkill-var="epoch")
            button#stats-epoch-week.tfilter.btn.btn-primary.radio-btn(value="week" radio="epoch" title="Last 7 Days") 7
            button#stats-epoch-recent.tfilter.btn.btn-secondary.radio-btn(value="recent" radio="epoch" title="Last 90 Days") 90
            button#stats-epoch-alltime.tfilter.btn.btn-secondary.radio-btn(value="alltime" radio="epoch" title="Alltime") &infin;
            button#stats-epoch-prior-month.tfilter.btn.btn-secondary.radio-btn(value="prior month" radio="epoch" title="Prior Month")
              i.fas.fa-arrow-left
              i.fas.fa-calendar
            button#stats-epoch-current-month.tfilter.btn.btn-secondary.radio-btn(value="current month" radio="epoch" title="Current Month")
              i.fas.fa-calendar
            button#stats-epoch-custom.tfilter.btn.btn-secondary.radio-btn(value="custom" radio="epoch" title="Custom Date Range") ✏️
          .btn-group.btn-group-sm
            button#rolling-times.btn.btn-secondary.btn-secondary(type="checkbox" checked value="rolling" title="Time will adjust automatically in 15 minute increments.")
              i.fas.fa-arrow-down
          br
          br
          #timeframe.input-group
            input#dtstart.form-control.form-line(type="datetime-local" style="min-width: 14em; max-width: 14em;" placeholder="2007-12-05 00:00" autocomplete="off" disabled)
            input#dtend.form-control.form-line(type="datetime-local" style="min-width: 14em; max-width: 14em;" placeholder="Now" autocomplete="off" disabled)
    hr.asearchfilters
    .row.centered.asearchfilters
      each $group, $name in ($labels ?? [])
        .btn-group(data-group-name=$name)
          button.btn.btn-secondary.btn-sm.btn-group-label(disabled)= $name
          each $label_name, $label_id in $group
            button.filter-btn.btn.btn-secondary.btn-sm(value="label-" . $label_id data-label=$label_id)= $label_name
    hr.asearchfilters
    .row.centered.asearchfilters(style="min-height: 100px;")
      .col-md-3
        label Attackers
        br
        #attackers-joinType.andor.btn-group.centered
          button#attackers-joinType-and.btn.btn-primary.radio-btn(value="attackers-and" radio="attackers-joinType" title="And") And
          button#attackers-joinType-and.btn.btn-secondary.radio-btn(value="attackers-aand" radio="attackers-joinType" title="AAnd") In
          button#attackers-joinType-or.btn.btn-secondary.radio-btn(value="attackers-or" radio="attackers-joinType" title="Or") Or
        #attackers
      .col-md-3
        label Either
        br
        #either-joinType.andor.btn-group.centered
          button#either-joinType-and.btn.btn-primary.radio-btn(value="either-and" radio="either-joinType" title="And") And
          button#attackers-joinType-and.btn.btn-secondary.radio-btn(value="either-aand" radio="either-joinType" title="AAnd") In
          button#either-joinType-or.btn.btn-secondary.radio-btn(value="either-or" radio="either-joinType" title="Or") Or
        #neutrals
      #victim.col-md-3
        label Victim
        br
        #victim-joinType.andor.btn-group.centered
          button#victim-joinType-and.btn.btn-primary.radio-btn(value="victims-and" radio="victim-joinType" title="And") And
          button#attackers-joinType-and.btn.btn-secondary.radio-btn(value="victims-aand" radio="victim-joinType" title="AAnd") In
          button#victim-joinType-or.btn.btn-secondary.radio-btn(value="victims-or" radio="victim-joinType" title="Or") Or
        #victims
      .col-md-3
        label Items
        br
        #items-joinType.andor.btn-group.centered
          button#items-joinType-and.btn.btn-primary.radio-btn(value="items-and" radio="items-joinType" title="And") And
          button#items-joinType-or.btn.btn-secondary.radio-btn(value="items-or" radio="items-joinType" title="Or") Or
        #items
    hr#clickToDigHr
    #clickToDig(style="display: flex;")
      .checkbox
        label
          input#clickToDigCheckbox(type="checkbox")
          span#clickText Clicking will Drill Down
      div(style="margin-left: auto;")
      .checkbox
        label
          input#includeAssociates(type="checkbox" checked)
          span#includeAssociatesLabel Include Associates
      div
        span#exportCsv.btn.btn-success.btn-sm.notafilter(style="margin-top: 0.5em;") Export XSLX
        span#toggleGroupLayout.btn.btn-secondary.btn-sm(value="split" style="margin-top: 0.5em; margin-left: 0.5em;" title="Toggle wide aggregation layout") Wide Groups
    hr
    #clickablecontent.row
      #page.col-md-10
        #pagefilters
          .btn-group.asearchfilters(zkill-var="sort" zkill-key="sortBy")
            button.sorttype.radio-btn.btn.btn-primary(value="sort-date") Date
            button.sorttype.radio-btn.btn.btn-secondary(value="sort-isk") ISK
            button.sorttype.radio-btn.btn.btn-secondary(value="sort-involved") Involved
            button.sorttype.radio-btn.btn.btn-secondary(value="sort-damage") Damage
            button.sorttype.radio-btn.btn.btn-secondary(value="sort-points") Points
          .btn-group.asearchfilters(zkill-var="sort" zkill-key="sortDir")
            button.sortorder.radio-btn.btn.btn-primary(value="sort-desc") Desc
            button.sortorder.radio-btn.btn.btn-secondary(value="sort-asc") Asc
          .btn-group.float-end.asearchfilters(zkill-var="page")
            button#page1.pagenum.radio-btn.btn-page.btn.btn-primary(value="page1") 1
            button.pagenum.radio-btn.btn-page.btn.btn-secondary(value="page2") 2
            button.pagenum.radio-btn.btn-page.btn.btn-secondary(value="page3") 3
            button.pagenum.radio-btn.btn-page.btn.btn-secondary(value="page4") 4
            button.pagenum.radio-btn.btn-page.btn.btn-secondary(value="page5") 5
            button.pagenum.radio-btn.btn-page.btn.btn-secondary(value="page6") 6
            button.pagenum.radio-btn.btn-page.btn.btn-secondary(value="page7") 7
            button.pagenum.radio-btn.btn-page.btn.btn-secondary(value="page8") 8
            button.pagenum.radio-btn.btn-page.btn.btn-secondary(value="page9") 9
            button.pagenum.radio-btn.btn-page.btn.btn-secondary(value="page10") 10
          .clearfix.asearchfilters
          br.asearchfilters
        #killmails-result(style="min-height: 500px;")
          table#killlist.table.table-sm.table-striped.table-hover(style="margin-bottom: 0px;")
            thead
              tr
                th Time
                th.d-none.d-md-table-cell(style="width: 50px; text-align: center;")
                th.d-none.d-md-table-cell.location(style="width:115px;") Place
                th.d-none.d-md-table-cell(style="width: 64px;") &nbsp;
                th.d-none.d-md-table-cell Victim
                th.d-none.d-md-table-cell.finalBlowColumn(style="width: 64px;") &nbsp;
                th.d-none.d-md-table-cell.finalBlowColumn Final Blow
            tbody#killmails-list
      #result-groups-column.col-md-2
        #result-groups-all
          #result-groups-summary
            .btn-group.btn-group-vertical.asearchfilters.mb-2(zkill-var="group-agg-type" style="width: 100%")
              .radio-btn.btn.btn-secondary.btn-primary(value="allinvolved") All Involved
              .radio-btn.btn.btn-secondary(value="victimsonly") Victims Only
              .radio-btn.btn.btn-secondary(value="attackersonly") Attackers Only
            h4#result-groups-count
          #result-groups-character
          #result-groups-corporation
          #result-groups-alliance
          #result-groups-faction
          #result-groups-shipType
          #result-groups-group
          #result-groups-location
          #result-groups-solarSystem
          #result-groups-constellation
          #result-groups-region
          #result-groups-distincts
          #result-groups-labels
      hr

block script
  script(defer src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js" integrity="sha512-AIOTidJAcHBH2G/oZv9viEGXRqDNmfdPVPYOYKGy3fti0xIplnlgMHUGfuNRzC6FkzIo0iIxgFnr9RikFxK+sw==" crossorigin="anonymous")
  script(defer type="text/javascript" src="/js/asearch.js?v=" . $version)
  script(defer src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.18.5/xlsx.full.min.js")
