{% if not partial %}<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#" lang="en" class="no-js">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		{% if description is not defined %}
			{% set description =  siteurl ~ " is a killboard for the Massively Multiplayer Online Role Playing Game (MMORPG) EVE-Online." %}
		{% endif %}
		<meta name="description" content="{{ description }}">
		<meta name="title" content="{{ pageTitle }} | {{ siteurl }}">
		<meta name="keywords" content="eve-online, eve, ccp, ccp games, kills, kill, massively, multiplayer, online, role, playing, game, mmorpg, rank, isk, mmorpg, killboard, zkillboard">
		<meta name="robots" content="index,follow">
		<meta name="og:locale" content="en_US">
		<meta name="og:type" content="website">
		<meta name="og:site_name" content="{{ siteurl }}">
		<meta name="fb:app_id" content="{{ fbAppID }}">
		<meta name="twitter:site" content="@zKillboard">
		<meta name="twitter:domain" content="{{ fullsiteurl }}">
		<meta name="application-name" content="{{ siteurl }}"/>
		<meta name="msapplication-TileColor" content="#000000"/>
		<meta name="mobile-web-app-capable" content="yes">
		<link rel="shortcut icon" sizes="16x16" href="//{{ siteurl }}/favicon.ico" />
		{% block opengraph %}
			<meta name="twitter:title" content="{{ pageTitle }} | {{ siteurl }}">
			<meta name="twitter:card" content="summary">
			<meta name="twitter:description" content="{{ description }}">
			<meta name="twitter:image" content="{{ fullsiteurl }}/img/3D.png">
			<meta name="og:title" content="{{ siteurl }} / {{ pageTitle }}">
			<meta name="og:url" content="{{ fullsiteurl }}">
			<meta name="og:description" content="{{ description }}">
			<meta name="og:image" content="{{ fullsiteurl }}/img/3D.png">
		{% endblock %}

		{% block robots %}
		{% endblock %}

			<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<title>
			{% block title %}
				{{ siteurl }}
			{% endblock %}
		</title>

		{% if canonical is not defined %}
			{% set canonical = fullsiteurl ~ requesturi %}
		{% endif %}

		<link rel="canonical" href="{{ canonical }}">
		<link rel="search" type="application/opensearchdescription+xml" href="//{{ siteurl }}/xml/zkbsearch.xml" title="search">

		{% if style == "cyborg" %}
			{% set version = "3.1.1" %}
		{% else %}
			{% set version = "3.1.1" %}
		{% endif %}

		<link id="mainstyle" rel="stylesheet" href="//netdna.bootstrapcdn.com/bootswatch/{{ version }}/{{ style }}/bootstrap.min.css">

		<link rel="stylesheet" href="//{{ siteurl }}/css/style-edits/{{ style }}-main.css" id="nextstyle">
		<link rel="stylesheet" href="//{{ siteurl }}/css/datepicker.css">
		<link rel="stylesheet" href="//{{ siteurl }}/css/main.css">
		<link rel="stylesheet" href="//{{ siteurl }}/css/nprogress.css">
		<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.min.css">
		<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/9.7.2/css/bootstrap-slider.min.css">

		{% block style %}
		{% endblock %}

		{% if showAnalytics != false %}
			{{ analytics|raw }}
		{% endif %}

		<style type="text/css">
			.topBoxes td {
			vertical-align: middle !important;
			}
		</style>
                <script type="text/javascript">
                    var showAds = {{ showAds == false ? 0 : 1 }};
                    var adblocked = true;
                    var characterID = {{ characterID }};
                    var navbar = true; 
                    var entityType = '{{ entityType }}';
                    var entityID = '{{ entityID }}';
                    var entityPage = '{{ pageType }}';
                </script>
	</head>
	<body>
		<div class="content">

			<!-- The navbar -->
			<div class="container" id='navibar' style="mgin: 0px; padding: 0px;">
				{% include "navigationbar.html" %}
			</div>

			<div class="container nobackground">
				{% if apiStatus and actualURI == '/' %}
					<div class="alert alert-danger" style="font-weight: bold"><center>{{ apiStatus|raw }}</center></div>
				{% endif %}

				<!-- Top ad -->
				<div class="centered" id="adsensetop" style='height: 135px;'></div><hr/>

                <span class='pagecontent'>{% endif %}
				<!-- The text header -->
				{% block header %}{% endblock %}
				<!-- The actual site content-->
				{% block content %}Default content{% endblock %}
                                {% if not partial %}</span>

				<div class="clearfix"></div>

				<!-- Bottom ad -->
				<div class="centered" id="adsensebottom"></div>

				<!-- Footer -->
				<div class="hidden-xs">{% include "footer.html" %}</div>
			</div>

			<!-- Modals -->
			<div class="container">
				{% block modal %}{% endblock %}
			</div>
		</div>

		<script type="text/javascript" src="//{{ siteurl }}/js/jquery-1.11.0.js"></script>
		<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery-timeago/1.1.0/jquery.timeago.min.js"></script>
		<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/datatables/1.9.4/jquery.dataTables.min.js"></script>
		<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.1/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/9.7.2/bootstrap-slider.min.js"></script>
		<script type="text/javascript" src="//{{ siteurl }}/js/bootstrap-datepicker.js"></script>
		<script type="text/javascript" src="//{{ siteurl }}/js/search.js"></script>
		<script type="text/javascript" src="//{{ siteurl }}/js/common.js?t=202003261104"></script>
		<script type="text/javascript" src="//{{ siteurl }}/js/sclock1.js"></script>
		<script type="text/javascript" src="//{{ siteurl }}/js/nprogress.js"></script>
                <script type="text/javascript" src="/js/reconnecting-websocket.js"></script>
                <script type="text/javascript" src="//{{ siteurl }}/js/rankstablesort.js"></script>

		<script type="text/javascript">
                        $(document).ready(function() {
                            if (navbar) $('#tracker-dropdown').load('/navbar/');
                            var channel = entityType + ":" + entityID;
                            if (entityPage != 'index' && entityPage != 'overview') channel = channel + ":" + entityPage;
                            pubsub(channel);
                        });

			var datepicker = $('.datepicker').datepicker({
				format: "mm/yyyy",
				viewMode: 1,
				minViewMode: 1,
				autoclose: true
			}).on("changeDate", function(ev){
				console.log(ev);
				date = new Date(ev.date);
				var year = date.getFullYear();
				var month = date.getMonth() +1;
				location.href = '{{ actualURI }}' + 'year/' + year + '/month/' + month + '/';
				console.log(month)
			});
		</script>

        <script type="text/javascript">
            $(function() {
                $(document).keyup(function(e) {
                    if ($("input:focus, textarea:focus").length === 0 && e.which === 191) {
                        $("#searchbox").focus();
                    }
                });
            });
        </script>

		{% block script %}
		{% endblock %}

<div class="ttooltip hidden" id="ttooltip"><span class='X red' onclick="$('#ttooltip').addClass('hidden'); return false;">X</span><br/><span id='tipmsg'></span></div>
<div class="modal fade" id="modalMessage">
        <div class="modal-dialog">
                <div class="modal-content">
                        <div class="modal-header">
                                <h4 id='modalTitle' class="modal-title">Message</h4>
                        </div>
                        <div class="modal-body">
                                <form name="myform" class="form">
					<span id='modalMessageBody'></span>
                                </form>
                        </div>
                </div>
        </div>
</div>
<div class="modal fade" id="iframed">
        <div class="modal-dialog">
                <div class="modal-content">
                        <div class="modal-header">
                                <h4 class="modal-title">&lt;iframe&gt; detected</h4>
                        </div>
                        <div class="modal-body">
				<p>zKillboard has detected that it has been embedded in an iframe.  We're ok with this, however, your experience might not be that great.  <a href="{{ fullsiteurl }}{{ requesturi}}" target="_blank">Click here to view this embedded window properly</a>, or just click anywhere below this dialog to view the iframe.</p>
                        </div>
                </div>
        </div>
</div>
<!--<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.css" />
<script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.js"></script>
<script>
window.addEventListener("load", function(){
window.cookieconsent.initialise({
  "palette": {
    "popup": {
      "background": "#216942",
      "text": "#b2d192"
    },
    "button": {
      "background": "transparent",
      "text": "#afed71",
      "border": "#afed71"
    }
  },
  "showLink": false
})});
</script>
-->
		<script type="text/javascript" src="//{{ siteurl }}/js/ads.js"></script>
</body>
</html>
{% endif %}
