{% if not partial %}<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#" lang="en" class="no-js">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		{% if description is not defined %}
			{% set description = "zKillboard.com is the premier killboard for EVE Online. Track players, corporations, and alliances, analyze battle reports, and monitor PvP anywhere in New Eden." %}
		{% endif %}
		<meta name="description" content="{{ description }}">
		<meta name="title" content="{{ pageTitle }} | {{ siteurl }}">
		<meta name="keywords" content="eve-online, eve, ccp, ccp games, kills, kill, massively, multiplayer, online, role, playing, game, mmorpg, rank, isk, mmorpg, killboard, zkillboard">
		<meta name="robots" content="index,follow">
		<meta name="og:locale" content="en_US">
		<meta name="og:type" content="website">
		<meta name="og:site_name" content="{{ siteurl }}">
		<meta name="fb:app_id" content="{{ fbAppID }}">
		<meta name="twitter:site" content="@zKillboard">
		<meta name="twitter:domain" content="{{ fullsiteurl }}">
		<meta name="application-name" content="{{ siteurl }}"/>
		<meta name="msapplication-TileColor" content="#000000"/>
		<meta name="mobile-web-app-capable" content="yes">
		<link rel="shortcut icon" sizes="16x16" href="/favicon.ico" />
		{% block opengraph %}
			<meta name="twitter:title" content="{{ pageTitle }} | {{ siteurl }}">
			<meta name="twitter:card" content="summary">
			<meta name="twitter:description" content="{{ description }}">
			<meta name="twitter:image" content="{{ fullsiteurl }}/img/3D.png">
			<meta name="og:title" content="{{ siteurl }} / {{ pageTitle }}">
			<meta name="og:url" content="{{ fullsiteurl }}">
			<meta name="og:description" content="{{ description }}">
			<meta name="og:image" content="{{ fullsiteurl }}/img/3D.png">
		{% endblock %}
        {% block head %}
        {% endblock %}

		{% block robots %}
		{% endblock %}

		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<title>
			{% block title %}
				{{ siteurl }}
			{% endblock %}
		</title>

		{% if canonical is not defined %}
			{% set canonical = fullsiteurl ~ requesturi %}
		{% endif %}

		<link rel="canonical" href="{{ canonical }}">
		<link rel="search" type="application/opensearchdescription+xml" href="/xml/zkbsearch.xml" title="search">

        <link id="mainstyle" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.1.1/css/cyborg/bootstrap.min.css" integrity="sha512-4q6seYu9/7J2H3HY/XIUvDrw/vgKEB+rawQGDWUQCZYUMldPQA+8vbrTTUDEa6E0BozfGQ32SKBxX8v1+NDrRg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

		<link rel="stylesheet" href="/css/style-edits/cyborg-main.css?v={{ version }}" id="nextstyle">
		<link rel="stylesheet" href="/css/main.css?v={{ version }}">
		<link rel="stylesheet" href="/css/nprogress.css">
		<link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.min.css">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog==" crossorigin="anonymous" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css" integrity="sha512-mSYUmp1HYZDFaVKK//63EcZq4iFWFjxSL+Z3T/aCt4IO9Cejm03q3NKKYN6pFQzY0SBOr8h+eCIAZHPXcpZaNw==" crossorigin="anonymous" />


        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/9.7.2/css/bootstrap-slider.css" integrity="sha512-9/DrcJ4ddTEJ6E9+muHEzd7lvbYKl26e2zNkLEMClB6ztAF27Q9glJDMk7ffmQ962RZrx3MsHRRqAgiF00e8/A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

		{% block style %}
		{% endblock %}

		{% if showAnalytics != false %}
			{{ analytics|raw }}
		{% endif %}

		<style type="text/css">
			.topBoxes td {
			vertical-align: middle !important;
			}
		</style>
                <script type="text/javascript">
var showAds = {{ showAds|default(1) }};
var characterID = {{ characterID }};
var navbar = true; 
var entityType = '{{ entityType }}';
var entityID = '{{ entityID }}';
var entityPage = '{{ pageType }}';
var start_websocket = {{ websocket }};
var actualURI = '{{ actualURI }}';
var promoURI = '{{ promoURI }}';
var promoImage1 = '{{ promoImage1 }}';
                </script>
	</head>
	<body style="background-color: #111;">
        <noscript><div id="nojsfulloverlay">JavaScript required.</div></noscript>
		<div class="content">

			<!-- The navbar -->
			<div class="container" id='navibar' style="padding: 0px;">
				{% include "navigationbar.html" %}
			</div>

			<div class="container nobackground">
				{% if apiStatus and actualURI == '/' %}
					<div id="zkb-message" class="alert alert-danger" style="font-weight: bold"><center>{{ apiStatus|raw }}</center></div>
                {% else %}
					<div id="zkb-message" class="hide alert alert-danger" style="font-weight: bold"></div>
				{% endif %}

				<!-- Top ad -->
                <div>
                  <center class='pbcen'>
				    <div class="centered publift" fuse="home_header" id="publifttop" style='padding-top: 0.25em; max-height: 250px; max-width: 975px;'></div>
                    <hr class='pbsep'/>
                    <div class='pbblock'>
                      <a href="https://www.patreon.com/zkillboard"  class='pbblock btn btn-success' target='_blank'>Block Ads with Patreon!</a>
                    </div>
                  </center>
                </div>

                <div id='otherBannerDiv' class='centered' style='display: none; height: 250px; padding-top: 1em;'><a id='otherBannerAnchor' target='_new'><img id='otherBannerImg' /></a></div>

				<div id="highlightContent" class="centered" style="margin-bottom: 1em; {% if highlightMessage is not defined %}display: none;{% endif %}">
					<a href="{{ highlightURI }}" target="_blank" rel="noopener noreferrer" class="btn btn-sm {{ highlightClass }}" style="padding: 1em; text-align: center; display: block; padding-top: 0em; padding-bottom: 0em; margin-top: 0.5em;">
						{% if highlightImage is defined and highlightImage|length > 0 %}
							<img src="{{ highlightImage }}" alt="Highlight" style="max-width: 100%; height: auto;">
						{% endif %}
						<span class='pagecontent'>{{ highlightMessage|raw }}</span>
					</a>					
				</div>

                <span class='pagecontent'>{% endif %}
				<!-- The text header -->
				{% block header %}{% endblock %}
				<!-- The actual site content-->
				{% block content %}Default content{% endblock %}

{% if not partial %}</span>

				<div class="clearfix"></div>

				<!-- Bottom ad -->
				<center><div class="centered publift" fuse="home_footer" id="adsensebottom"  style='padding-top: 2em; padding-bottom: 2em; max-height: 250px; max-width: 975px;'></div></center>

				<!-- Footer -->
				<div>{% include "footer.html" %}</div>
                <div style="height: 50px;">&nbsp;</div>
			</div>

			<!-- Modals -->
			<div class="container">
				{% block modal %}{% endblock %}
			</div>
		</div>

        <script defer src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
        <script defer src="https://cdnjs.cloudflare.com/ajax/libs/jquery.devbridge-autocomplete/1.4.11/jquery.autocomplete.min.js" integrity="sha512-uxCwHf1pRwBJvURAMD/Gg0Kz2F2BymQyXDlTqnayuRyBFE7cisFCh2dSb1HIumZCRHuZikgeqXm8ruUoaxk5tA==" crossorigin="anonymous"></script>
        <script defer src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js" integrity="sha512-T/tUfKSV1bihCnd+MxKD0Hm1uBBroVYBOYSk1knyvQ9VyZJpc/ALb4P0r6ubwVPSGB2GvjeoMAJJImBG12TiaQ==" crossorigin="anonymous"></script>

		<script defer type="text/javascript" src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
        <script defer src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.1/js/bootstrap.min.js" integrity="sha512-vO2Z2TMWFHV2Qyc0QaK4khEDOClJqw5RDzhsRT7CojWdo5aA2KFp5ry+dTGETq9fWYVg8NEz0/o6n2x1ArFI3w==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script defer src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/9.7.2/bootstrap-slider.min.js" integrity="sha512-ltNvgoNRZAuKXjWIXHXzLhM2dJCnw7xyxpCn43+TzRr0Kg9zU+P7UpmSNwKRvT/GSaJ6TK6lmukBOjXsSQupUQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

		<script defer type="text/javascript" src="/js/search.js?v={{ version }}"></script>
		<script defer type="text/javascript" src="/js/common.js?v={{ version }}"></script>
        <script defer type="text/javascript" src="/js/sclock1.js"></script>
		<script defer type="text/javascript" src="/js/nprogress.js"></script>
		<script defer type="text/javascript" src="/js/reconnecting-websocket.js"></script>
		{% block script %}
		{% endblock %}

<div class="ttooltip hidden" id="ttooltip"><span class='X red' onclick="$('#ttooltip').addClass('hidden'); return false;">X</span><br/><span id='tipmsg'></span></div>
<div class="modal fade" id="modalMessage">
        <div class="modal-dialog">
                <div class="modal-content">
                        <div class="modal-header">
                                <span id='modalTitle' class="modal-title">Message</span>
                                <button id='modalCloseButton' type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" style="color: red; font-weight: bold;">X</span></button>
                        </div>
                        <div class="modal-body">
                                <form name="myform" class="form">
					<span id='modalMessageBody'></span>
                                </form>
                        </div>
                </div>
        </div>
</div>
<div class="modal fade" id="iframed">
        <div class="modal-dialog">
                <div class="modal-content">
                        <div class="modal-header">
                                <h4 class="modal-title">&lt;iframe&gt; detected</h4>
                        </div>
                        <div class="modal-body">
				<p>zKillboard has detected that it has been embedded in an iframe.  We're ok with this, however, your experience might not be that great.  <a href="{{ fullsiteurl }}{{ requesturi}}" target="_blank" rel="noopener noreferrer">Click here to view this embedded window properly</a>, or just click anywhere below this dialog to view the iframe.</p>
                        </div>
                </div>
        </div>
</div>
<div class="ad-xl-block"><div class="ad-xl-block left-sticky-ad publift" fuse="left-sticky"></div></div>
<div class="ad-xl-block"><div class="ad-xl-block right-sticky-ad publift" fuse="right-sticky"></div></div>
<form id="externalkmform" method="post" action="/post/" style="display: none;"><input type="text" id="externalurl" name="killmailurl"/></form>
</body>
</html>
{% endif %}
