{% extends 'base.html' %}

{% set pageTitle = 'Battle Reports Listing' %}
{% block title %}{% include 'components/title.html' %}{% endblock %}

{% block content %}
<h2>
Saved Battle Reports Listing
</h2>

<table class="table">
<tr>
    <th colspan='3'>&nbsp;</th>
    <th colspan='4' style="text-align: center;">Team A</th>
    <th colspan='4' style="text-align: center;">Team B</th>
</tr>
<tr>
    <th>Battle ID</th>
    <th>Time</th>
    <th>System / Region</th>
    <th style="text-align: right;">Pilots</th>
    <th style="text-align: right;">Ships</th>
    <th style="text-align: right;">Points</th>
    <th style="text-align: right;">ISK</th>
    <th style="text-align: right;">Pilots</th>
    <th style="text-align: right;">Ships</th>
    <th style="text-align: right;">Points</th>
    <th style="text-align: right;">ISK</th>
</tr>
{% for battle in battles %}
  {% set field = battle %}
  <tr>
    <td><a href='/br/{{ battle.battleID }}'>{{ battle.battleID }}</a></td>
    <td>{{ battle.killTime }}</td>
    <td>{% include 'components/text_system.html'%} / {% include 'components/text_region.html' %}</td>
    <td class='{{ battle.teamA.pilotCount > battle.teamB.pilotCount ? 'green' : 'red' }}' style="text-align: right">{{ battle.teamA.pilotCount|number_format(0) }}</td> 
    <td class='{{ battle.teamA.totalShips > battle.teamB.totalShips ? 'green' : 'red' }}' style="text-align: right">{{ battle.teamA.totalShips|number_format(0) }}</td> 
    <td class='{{ battle.teamA.total_points < battle.teamB.total_points ? 'green' : 'red' }}' style="text-align: right">{{ battle.teamA.total_points|number_format(0) }}</td> 
    <td class='{{ battle.teamA.total_price < battle.teamB.total_price ? 'green' : 'red' }}' style="text-align: right">{{ formatIsk(battle.teamA.total_price) }}</td> 
    <td class='{{ battle.teamA.pilotCount < battle.teamB.pilotCount ? 'green' : 'red' }}' style="text-align: right">{{ battle.teamB.pilotCount|number_format(0) }}</td> 
    <td class='{{ battle.teamA.totalShips < battle.teamB.totalShips ? 'green' : 'red' }}' style="text-align: right">{{ battle.teamB.totalShips|number_format(0) }}</td> 
    <td class='{{ battle.teamA.total_points > battle.teamB.total_points ? 'green' : 'red' }}' style="text-align: right">{{ battle.teamB.total_points|number_format(0) }}</td> 
    <td class='{{ battle.teamA.total_price > battle.teamB.total_price ? 'green' : 'red' }}' style="text-align: right">{{ formatIsk(battle.teamB.total_price) }}</td> 
  </tr>
{% endfor %}
</table>

{% endblock %}
