{% extends 'base.html' %}

{% set pageTitle = 'Change Password' %}
{% block title %}{% include 'components/title.html' %}{% endblock %}

{% block content %}
{% if message %}
<h2>Change Password</h2>
<div class="alert alert-{{ messagetype }}">
	<p>{{ message }}</p>
</div>
{% else %}
<h2>Change Password</h2>
<div class="well">
	<form class="form-horizontal" name="changepassword" method="post" action=".">
		<div class="form-group">
			<label for="password" class="control-label col-lg-2">Password</label>
			<div class="col-lg-5">
				<input id="password" name="password" type="password" required placeholder="new password" class="form-control">
			</div>
		</div>
		<div class="form-group">
			<label for="password2" class="control-label col-lg-2">Confirm Password</label>
			<div class="col-lg-5">
				<input id="password2" name="password2" type="password" required placeholder="confirm new password" class="form-control">
			</div>
		</div>
		<div class="form-group">
			<div class="col-lg-2 col-lg-offset-2">
				<input type="submit" value="Change Password" class="btn btn-primary">
			</div>
		</div>
	</form>
</div>
{% endif %}
{% endblock %}
