<div class="footer" style="margin-bottom: 1em;">
    <hr/>
    <div class="row">
        <div class="col-md-4 cenetered">
            All <a href="/information/legal/">EVE related materials</a> are property of <a href="http://www.ccpgames.com">CCP Games</a><br/>
        </div>
        <div class="col-md-4 centered" >
            <a target="_blank" href="https://www.eveonline.com/partners"><img src="/img/eo_pp.png" style="width: 300px;" alt="Eve Online Partnership Program" /></a>
        </div>
        <div class="col-md-4 centered">
            <a href="/information/payments/">Payments</a> /
            <a href="https://github.com/zKillboard/zKillboard/wiki" target="_blank">API</a> /
            <a href="/information/faq/">FAQ</a> /
            <a href="/information/legal/">Legal</a> /
            <a href="/information/about/">About</a> / 
            <a target='_blank' href="https://github.com/zKillboard/zKillboard">GitHub</a> / 
            <a href="https://twitter.com/zkillboard" target="blank">Twitter</a><br/>
            <a href='/ccpoauth2-360noscope/'>No Scope Login</a><br/>
            {{ pageTimer()|number_format() }}ms. / {{ queryCount() }}q
        </div>
    </div>
    <div class="span12 text-center"><small>zKillboard brought to you by <a href="https://zkillboard.com/character/1633218082/">Squizz Caphinator</a></small></div>
</div>
