<div class="footer" style="margin-bottom: 1em;">
    <hr/>
    <div class="row">
        <div class="col-md-4 centered">
            All <a href="/information/legal/">EVE related materials</a> are property of <a href="https://www.ccpgames.com">CCP Games</a><br/>
        </div>
        <div class="col-md-4 centered" >
            <a target="_blank" rel="noopener noreferrer" href="https://www.eveonline.com/partners"><img src="/img/eo_pp.png" style="width: 300px;" alt="Eve Online Partnership Program" /></a>
			<br/>
			<!-- zz Suite badge -->
			<a href="https://zzeve.com" target="_blank" class="external-link ms-2">
				<img src="https://img.shields.io/badge/zz-Suite-blueviolet?style=flat-square" alt="Part of zz Suite" style="vertical-align: middle;">
			</a>
        </div>
        <div class="col-md-4 centered">
            <a href="/information/payments/">Payments</a> /
            <a href="/information/faq/">FAQ</a><br/>
            <a href="https://github.com/zKillboard/zKillboard/wiki" target="_blank" rel="noopener noreferrer">API</a> /
            <a target='_blank'  rel="noopener noreferrer" href="https://github.com/zKillboard/zKillboard">GitHub</a> <br/>
            <a href="/information/features/">Features</a> /
            <a href="/information/legal/">Legal</a> /
            <a href="/information/about/">About</a><br/>
            <a href='/ccpoauth2-360noscope/'>No Scope Login</a><br/>            
        </div>
    </div>
</div>
