.footer.mb-3
  hr
  .row.gx-0
    .col-md-4.centered
      | All 
      a(href="/information/legal/") EVE related materials
      |  are property of 
      a(href="https://fenriscreations.com/") Fenris Creations
      br
    .col-md-4.centered
      a(target="_blank" rel="noopener noreferrer" href="https://www.eveonline.com/partners")
        img.img-fluid(src="/img/eo_pp.png" width="300" alt="Eve Online Partnership Program")
      br
      a.d-inline-flex.align-items-center.px-2.py-1.m-1.rounded-pill.text-white.text-decoration-none.bg-primary.border.border-light.border-opacity-25.shadow-sm(href="https://zzeve.com" target="_blank" rel="noopener noreferrer")
        img.rounded-circle.me-1.border.border-light.border-opacity-25(src="https://images.evetech.net/characters/1633218082/portrait?size=128" width="32" height="32" alt="" loading="lazy" decoding="async" fetchpriority="low")
        span zz Suite
    .col-md-4.centered
      a(href="/information/payments/") Payments
      |  / 
      a(href="/information/faq/") FAQ
      br
      a(href="https://github.com/zKillboard/zKillboard/wiki" target="_blank" rel="noopener noreferrer") API
      |  / 
      a(target="_blank" rel="noopener noreferrer" href="https://github.com/zKillboard/zKillboard") GitHub
      br
      a(href="/information/features/") Features
      |  / 
      a(href="/information/legal/") Legal
      |  / 
      a(href="/information/about/") About
      br
      a(href="/ccplogin/") Direct Login
