{% extends 'base.html' %}

{% if pageTitle is not defined or pageTitle == '' %}{% set pageTitle = 'Home' %}{% endif %}
{% block title %}{% include 'components/title.html' %}
{% endblock %}

{% block content %}
{% if pageType == 'war' %}
	{% include 'components/war.html' %}
{% endif %}
{% set killListTitle = 'Most recent kills' %}
{% set killList = kills %}
<div class="row">
<div class="col-sm-10 pull-left" style="padding-left: 0px;">
	<div>
		{% set shipNameLength = 11 %}
		{% set topTitle = 'Most Valuable Kills - Last 7 Days' %}
		{% set topSet = topIsk %}
		{% include 'components/big_top_list.html' %}
	</div>
  <div class="clearfix"></div>
{% include 'components/kill_list.html' %}
</div>
<div class="col-sm-2 pull-left" style="padding: 0px;">
	{% if showAds %}
		<span id='adnag'><center><a href='/information/payments'>Remove Ads?</a></center></br/></span>
	{% endif %}
        <center><a href="https://www.youtube.com/watch?v=MaL-66nHN9c" target="_new">#Broadcast4Reps</a><br/></center>
	{% include 'components/activePvP.html' %}
	{% set isEmbedded = true %}
	{% for topSet in topKillers %}
	{% include 'components/top_killer_list.html' %}
	{% endfor %}
{% if topSet|length %}<br/><center><em><small>7 Day Top Killers<br/><a href='https://www.reddit.com/r/Eve/comments/42hipd/zkillboards_weekly_rankings_explained/' target='_blank'>Rankings Explained</a></em></small></center>{% endif %}
</div>
</div>

{% endblock %}
