extends base.pug

block vars
  if (!isset($pageTitle) || $pageTitle == '')
    - $pageTitle = 'Home';

block title
  include components/title.pug

block content
  if (($pageType ?? '') == 'war')
    include components/war.pug
  - $killListTitle = 'Most recent kills';
  - $killList = $kills ?? [];
  if (($pageType ?? '') == 'war')
    .war-kill-layout
      aside.war-top-rail.war-top-rail-left
        - $isEmbedded = true;
        each $topSet, $topIndex in ($topKillers ?? [])
          if (($topIndex + 1) % 2 == 1)
            include components/top_killer_list.pug
      .war-kill-center
        - $showPager = 'false';
        include components/war_kill_list.pug
      aside.war-top-rail.war-top-rail-right
        - $isEmbedded = true;
        each $topSet, $topIndex in ($topKillers ?? [])
          if (($topIndex + 1) % 2 == 0)
            include components/top_killer_list.pug
  else
    h1.visually-hidden zKillboard
    .row.gx-0.gx-md-3
      .col-sm-10.float-start.ps-md-0
        div
          - $shipNameLength = 11;
          - $topTitle = "FC's Backyard - Last 7 Days";
          - $topSet = $topSpecialLosses ?? [];
          include components/big_top_list.pug
          - $topTitle = 'Most Valuable Structures - Last 7 Days';
          - $topSet = $topIskStructures ?? [];
          include components/big_top_list.pug
          - $topTitle = 'Most Valuable Ships - Last 7 Days';
          - $topSet = $topIskShips ?? [];
          include components/big_top_list.pug
          - $topTitle = 'Sponsored Killmails - Last 7 Days';
          - $topSet = $sponsored ?? [];
          include components/big_top_list.pug
        .centered.publift.adrow.ad-xl-none#detailadrow(data-fuse="home_incontent")
        - $showPager = 'false';
        include components/kill_list.pug
      .col-sm-2.float-start.p-0
        if (($reinforced ?? '') == 'true')
          .alert.alert-danger
            .text-center
              a(href="/ztop/") REINFORCED MODE
          br
        if (($universeUpdating ?? '') == 'true')
          .alert.alert-success
            .text-center
              a(href="/ztop/") Universe is Updating
          br
        div
          zk-home-side
            .col-12.bg-black
              a#loginsideimage.btn.w-100.collapse(href="/ccpoauth2/" aria-label="Log in with EVE Online SSO")
                img.w-100(src="/img/ssologin.png" loading="lazy" decoding="async" fetchpriority="low" alt="Log in with EVE Online SSO")
              hr
            .alert.alert-info
              .text-center
                a(href=($referralLink ?? '') target="_blank" rel="noopener noreferrer" title="1 million SP FREE")
                  img(src="https://images.evetech.net/types/40520/icon?size=32" alt="1 million free skill points!" onerror="this.onerror=function(){this.removeAttribute('onerror'); this.src='/img/icons/40520_64.png';}; this.src='https://images.evetech.net/types/40520/bp?size=32';" loading="lazy" decoding="async" fetchpriority="low")
                  | 1 Million SP FREE
            != $sponsoredMessage ?? ''
            .col-12.bg-black
              a.btn.bn-success.w-100(href="https://store.eveonline.com" target="_blank" rel="noopener noreferrer" style="background-color: #1D232A; color: white;")
                span
                  | EVE Online Store
                  br
                  small
                    | use code zkill
                    br
                    |  to support zkill
              a.btn.bn-success.w-100(href="https://discord.gg/sV2kkwg8UD" target="_blank" rel="noopener noreferrer" style="background-color: #6E85D2; color: white;")
                img(src="/img/discord.png" alt="discord logo" height="22" loading="lazy" decoding="async" fetchpriority="low")
                |  Discord
              a.btn.bn-success.w-100(href="/cache/bypass/login/patreon/" target="_blank" rel="noopener noreferrer" style="background-color: white;")
                img(src="/img/patreon_sm.png" alt="Patreon" height="25" loading="lazy" decoding="async" fetchpriority="low")
              a.btn.bn-success.w-100(href="https://store.markeedragon.com/affiliate.php?id=928&redirect=index.php?cat=4" target="_blank" rel="noopener noreferrer" style="background-color: #223801; color: white;")
                | SP &amp; PLEX
                br
                | Promo "zkill" 3% Off
          hr
          #otherapps
            div
              a(href="https://evewho.com" target="_blank" rel="noopener noreferrer")
                img(src="https://image.eveonline.com/Character/1_64.jpg" width="32" height="32" loading="lazy" decoding="async" fetchpriority="low" alt="")
                span EveWho
            div
              a(href="https://podmail.space" target="_blank" rel="noopener noreferrer")
                img(src="/img/podmail.png" width="32" loading="lazy" decoding="async" fetchpriority="low" alt="")
                span PodMail
            div
              a(href="https://eveconomy.online" target="_blank" rel="noopener noreferrer")
                img(src="/img/eveconomy.png" width="32" height="32" loading="lazy" decoding="async" fetchpriority="low" alt="")
                span EVEconomy
            div
              a(href="https://skillq.net/" target="_blank" rel="noopener noreferrer")
                img(src="https://skillq.net/favicon.ico" width="32" height="32" loading="lazy" decoding="async" fetchpriority="low" alt="")
                span SkillQ
            div
              a(href="https://logos.zzeve.com" target="_blank" rel="noopener noreferrer")
                img.bg-dark(src="https://image.eveonline.com/Alliance/1_32.png" width="32" height="32" loading="lazy" decoding="async" alt="" fetchpriority="low")
                span Logos
          .clearfix
        .text-center
          a(href="/top/lasthour/all/") Current Activity
        include components/activePvP.pug
        .clearfix
        br
        include components/tracked_items.pug
        br
        - $isEmbedded = true;
        each $topSet in ($topKillers ?? [])
          include components/top_killer_list.pug
        if (count($topKillers ?? []) > 0)
          br
          .text-center
            em
              small
                | 7 Day Top Killers
                br
                a(href="https://www.reddit.com/r/Eve/comments/42hipd/zkillboards_weekly_rankings_explained/" target="_blank" rel="noopener noreferrer") Rankings Explained
        include components/donations.pug
  .brd
