{% extends 'base.html' %}

{% if pageTitle is not defined or pageTitle == '' %}{% set pageTitle = 'Home' %}{% endif %}
{% block title %}{% include 'components/title.html' %}
{% endblock %}

{% block content %}
{% include 'components/partial_title.html' %}
{% if pageType == 'war' %}
	{% include 'components/war.html' %}
{% endif %}
{% set killListTitle = 'Most recent kills' %}
{% set killList = kills %}
<div class="row">
<div class="col-sm-10 pull-left" style="padding-left: 0px;">
	<div>
		{% set shipNameLength = 11 %}
		{% set topTitle = 'Most Valuable Kills - Last 7 Days' %}
		{% set topSet = topIsk %}
		{% include 'components/big_top_list.html' %}
		{% set topTitle = 'Sponsored Killmails - Last 7 Days' %}
		{% set topSet = sponsored %}
		{% include 'components/big_top_list.html' %}
	</div>
  <div class="clearfix"></div>
{% include 'components/kill_list.html' %}
</div>
<div class="col-sm-2 pull-left" style="padding: 0px;">
        {% if reinforced == "true" %}
        <div class="alert alert-danger"><center><a href='/ztop/'>REINFORCED MODE</a></center></div><br/>
        {% endif %}
        {% if universeUpdating == "true" %}
        <div class="alert alert-success"><center><a href='/ztop/'>Universe is Updating</a></center></div><br/>
        {% endif %}
    <div>
    {% if showTwitch == true %}
    <hr/>
        <center><a href='https://twitch.tv/zkillofficial' target='_blank'><img src='/img/twitch.png' style='width: 100%;'></a></center>
    {% endif %}
    <hr/>
    <!---<div  id='contest' class='' style='width: 100%; background-color: black;"><a onclick="$('#login-modal').modal(); return false;" href="#"><h3>Login to Win!</h3><p>Astero Scope Syndication YC122 SKIN</p><p><img style='width: 175px;' src="/img/astero.png"></a></p><p><a style="cursor: pointer;" onclick="$('#login-modal').modal(); return false;">Click for more details.</a></p><p id='contest-logged-in' class='hidden alert alert-info'>You are logged in and therefore already entered, if you win you will receive an evemail!</p><hr/></div>-->
    <div style='width: 100%; background-color: black;'><center style='color: #FC5800; font-weight: bold; font-size: 125%;'>Go Ad Free with<br/><a href="/cache/bypass/login/patreon/"><img style='width: 100%;' src="/img/patreon_sm.png"></a></center></div>
    <hr/>
    <center>
        <div class="pull-left" style='width: 33%'><figure><a href='https://evewho.com' target='_blank'><img src="https://image.eveonline.com/Character/1_64.jpg" style="height: 16px; width: 16px;"><figcaption>EveWho</figcaption></a></figure></div>
        <div class="pull-left" style='width: 33%'><figure><a href='https://podmail.zzeve.com/' target='_blank'><img src="https://podmail.zzeve.com/images/podmail.png" style="height: 16px;"><figcaption>Podmail</figcaption></a></figure></div>
        <div class="pull-left" style='width: 33%'><figure><a href='https://skillq.net/' target='_blank'><img src="https://skillq.net/favicon.ico" style="height: 16px; width: 16px;"><figcaption>SkillQ</figcaption></a></figure></div>
    </center>
    <div class="clearfix"></div>
    </div>
    <hr/>
        <center><a href='/top/lasthour/'>Current Activity</a></center>
	{% include 'components/activePvP.html' %}<div class='clearfix'></div><br/>
        {% include 'components/tracked_items.html' %}<br/>
	{% set isEmbedded = true %}
	{% for topSet in topKillers %}
	{% include 'components/top_killer_list.html' %}
	{% endfor %}
{% if topSet|length %}<br/><center><em><small>7 Day Top Killers<br/><a href='https://www.reddit.com/r/Eve/comments/42hipd/zkillboards_weekly_rankings_explained/' target='_blank'>Rankings Explained</a></em></small></center>{% endif %}
	{% include 'components/donations.html' %}
</div>
</div>

{% endblock %}
