{% extends 'base.html' %}

{% if pageTitle is not defined or pageTitle == '' %}{% set pageTitle = 'Home' %}{% endif %}
{% block title %}{% include 'components/title.html' %}
{% endblock %}

{% block content %}
{% include 'components/partial_title.html' %}
{% if pageType == 'war' %}
    {% include 'components/war.html' %}
{% endif %}
{% set killListTitle = 'Most recent kills' %}
{% set killList = kills %}
<div class="row">
<div class="col-sm-10 pull-left" style="padding-left: 0px;">
    <div>
        {% set shipNameLength = 11 %}

        {% set topTitle = 'CCP\'s Backyard - Last 7 Days' %}
        {% set topSet = topSpecialLosses %}
        {% include 'components/big_top_list.html' %}

        {% set topTitle = 'Most Valuable Structures - Last 7 Days' %}
        {% set topSet = topIskStructures %}
        {% include 'components/big_top_list.html' %}

        {% set topTitle = 'Most Valuable Ships - Last 7 Days' %}
        {% set topSet = topIskShips %}
        {% include 'components/big_top_list.html' %}

        {% set topTitle = 'Sponsored Killmails - Last 7 Days' %}
        {% set topSet = sponsored %}
        {% include 'components/big_top_list.html' %}
    </div>
  <div class="clearfix"></div>
  <div class="centered publift adrow ad-xl-none" fuse="home_incontent" id="detailadrow" style='padding-top: 1em;'></div>
{% set showPager = "false" %}
{% include 'components/kill_list.html' %}
</div>
<div class="col-sm-2 pull-left" style="padding: 0px;">
        {% if reinforced == "true" %}
        <div class="alert alert-danger"><center><a href='/ztop/'>REINFORCED MODE</a></center></div><br/>
        {% endif %}
        {% if universeUpdating == "true" %}
        <div class="alert alert-success"><center><a href='/ztop/'>Universe is Updating</a></center></div><br/>
        {% endif %}
    <div>
        <center>
            <div style='background-color: black;' class='col-12'> 
                <a id='loginsideimage' href='/ccpoauth2/' class='btn btn-block collapse'><img src='/img/ssologin.png' style='width: 100%'></a>
                <div  id='contest' class='d-none' style='width: 100%; background-color: black;'>
                    <h3>Login to Win!</h3>
                    <p>Various Scope Syndication YC122 SKINs</p>
                    <p>
                        <a onclick="$('#login-modal').modal(); return false;" href="#">
                            <img style='width: 175px;' src="/img/astero.png">
                        </a>
                    </p>
                    <small><i>If you are already logged in then you have been entered into the contest just by viewing this page.<br/>Winners selected on Mondays.</i></small>
                </div>
                <hr/>
                <a href='https://discord.gg/sV2kkwg8UD' target='_new' class='btn bn-success btn-block' style='background-color: #6E85D2; color: white;'>Discord</a>
                <a href='/cache/bypass/login/patreon/' class='btn bn-success btn-block' style='background-color: #FC3400; color: white;'>Patreon</a>
                {% if showTwitch == true %}
                    <a href='https://twitch.tv/zkillofficial' target='_new' class='btn bn-success btn-block' style='background-color: #6441A4; color: white;'>Twitch</a>
                {% endif %}
                <a href='https://www.zazzle.com/store/zkillboard/products' target='_new' class='btn bn-success btn-block' style='background-color: #0098FF; color: white;'>Merchandise</a>
                <a href='http://store.markeedragon.com/affiliate.php?id=928&redirect=index.php?cat=4' target='_new' class='btn bn-success btn-block' style='background-color: #223800; color: white;'>GTC &amp; Plex<br/>Promo "zkill" 3% Off</a>
            </div>
        </center>
    <hr/>
    <center>
        <div class="pull-left" style='width: 33%'><figure><a href='https://evewho.com' target='_blank'><img src="https://image.eveonline.com/Character/1_64.jpg" style="height: 16px; width: 16px;"><figcaption>EveWho</figcaption></a></figure></div>
        <div class="pull-left" style='width: 33%'><figure><a href='https://podmail.zzeve.com/' target='_blank'><img src="https://podmail.zzeve.com/images/podmail.png" style="height: 16px;"><figcaption>Podmail</figcaption></a></figure></div>
        <div class="pull-left" style='width: 33%'><figure><a href='https://skillq.net/' target='_blank'><img src="https://skillq.net/favicon.ico" style="height: 16px; width: 16px;"><figcaption>SkillQ</figcaption></a></figure></div>
    </center>
    <div class="clearfix"></div>
    </div>
    <hr/>
        <center><a href='/top/lasthour/'>Current Activity</a></center>
    {% include 'components/activePvP.html' %}<div class='clearfix'></div><br/>
        {% include 'components/tracked_items.html' %}<br/>
    {% set isEmbedded = true %}
    {% for topSet in topKillers %}
    {% include 'components/top_killer_list.html' %}
    {% endfor %}
{% if topSet|length %}<br/><center><em><small>7 Day Top Killers<br/><a href='https://www.reddit.com/r/Eve/comments/42hipd/zkillboards_weekly_rankings_explained/' target='_blank'>Rankings Explained</a></em></small></center>{% endif %}
    {% include 'components/donations.html' %}
</div>
</div>

<div class="brd"></div>

{% endblock %}


{% block head %}
<meta http-equiv="refresh" content="3600">
{% endblock %}
