{% extends 'base.html' %}

{% set pageTitle = info.typeName ~ ' | Item' %}
{% block title %}{% include 'components/title.html' %}{% endblock %}

{% block content %}
<h2>
{% set field = info %}
{% set imageSize = 64 %}
{% include 'components/image_item.html' %}
{{ info.typeName }}
</h2>

<div class="navbar navbar-default">
	<ul class="nav navbar-nav">
{% if hasKills %}
		<li><a href="/ship/{{ info.typeID }}/">Overview</a></li>
		<li><a href="/ship/{{ info.typeID }}/kills/">Kills</a></li>
		<li><a href="/ship/{{ info.typeID }}/losses/">Losses</a></li>
{% endif %}
		<li class="active"><a href="/item/{{ info.typeID }}/">Description</a></li>
	</ul>
	<ul class="nav navbar-nav navbar-right">
	</ul>
</div>

{{ info.description|nl2br }}

<div class="clearfix"></div>
<hr/>

<div class="col-lg-6 pull-left">
<h3>Some kills having this item:</h3>
{% set list = kills %}{% include 'components/related_list.html' %}

</div>

<div class="col-lg-6 pull-left">
<h4>Market Prices - The Forge</h4>
<h5>zKillboard Price: {{ info.price|number_format(2) }} ISK</h5>
{% set field = info.market %}
{% include 'components/market.html' %}
<i>Information pulled from CCP's Market <a href='{{ esiServer }}/v1/markets/10000002/history/?type_id={{ info.typeID }}' target='_blank'>ESI API</a>.</i>
</div>

{% endblock %}
