{% extends 'base.html' %}

{% set pageTitle = "Last Hour" %}
{% block title %}{% include 'components/title.html' %}{% endblock %}

{% block content %}
{% set showImage = true %}

<nav class="mb-3">
    <ul class="nav nav-pills flex-wrap">
        {% for typeO in types %}
            <li class="nav-item"><a class="nav-link {{ isActive(typeO, type) }}" href="/top/lasthour/{{ typeO }}/">{{ typeO }}</a></li>
        {% endfor %}
    </ul>
</nav>

{% for type, list in allLists %}
<a name="{{ type }}"></a><br/>
<h4>{{ type|capitalize }}: Top Killers in the Last Hour as of {{ time }}</h4>
{% set topLists = list.topKillers %}
{% include 'components/top_list.html' %}

<hr/>
<h4>{{ type|capitalize }}: Top Losers in the Last Hour as of {{ time }}</h4>

{% set topLists = list.topLosers %}
{% include 'components/top_list.html' %}
<div class="clear"></div>
<hr/>
{% endfor %}


{% endblock %}

{% block head %}
<meta http-equiv="refresh" content="300">
{% endblock %}
