{% extends 'base.html' %}

{% set pageTitle = "Map" %}
{% block title %}{% include 'components/title.html' %}{% endblock %}

{% block style %}
  <style>
    #zkb-map-root {
      height: 90vh;
      position: relative;
    }
  </style>
{% endblock %}

{% block content %}
  </span>

  <div
    id="zkb-map-root"
    data-websocket-url="wss://{{ siteurl }}/websocket/"
    data-universe-url="//{{ siteurl }}/map/data/universe.json"
  >
    Loading...
  </div>
  <script src="//{{ siteurl }}/map/static/js/main.35ddbefe.js"></script>

  <span>
{% endblock %}
