{% extends 'base.html' %}

{% set pageTitle = "Map" %}
{% block title %}{% include 'components/title.html' %}{% endblock %}

{% block content %}
<div style="width: 100%; height: 100%; position: fixed; left: 0px; top: 50px; bottom: 0; background-color: black;" id="map-container"></div>
{% endblock %}

{% block script %}
    <link rel="stylesheet" type="text/css" href="/css/zkb-map.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/three.js/r61/three.min.js"></script>
    <script src="/js/zkb-map.js"></script>
    <script>
        $(document).ready(function() {
      map = $('#map-container').ZKBMap({
        colorSteps: 20,
        killFlareSize: 85,
        killFlareDuration: 1000,
        killFadeDuration: 60000,
        lowSecColor: '#E6E6E6',
        highSecColor: '#2A9FD6'
      });
      $(window).on('resize', map.calibrateCamera);
        });
    </script>
{% endblock %}
