{% extends 'base.html' %}

{% set pageTitle = "Merge" %}
{% block title %}{% include 'components/title.html' %}{% endblock %}

{% block content %}
{% if error %}
<div class="alert alert-error">
 <div class="alert alert-danger">{{ error }}</div>
</div>
{% endif %}
<h2>Merge</h2>
<h5>IF you don't have a user account already, just click "No user account" below..</h5>
<div class="well">
<form class="form-horizontal" name="merge" method="post" action="/merge/{{ characterID }}/">
	<div class="form-group">
		<label class="col-lg-2 control-label" for="inputUsername">Username</label>
		<div class="col-lg-5">
			<input class="form-control" id="inputUsername" name="username" type="text" autofocus="true" placeholder="username">
		</div>
	</div>
	<div class="form-group">
		<label class="col-lg-2 control-label" for="inputPassword">Password</label>
		<div class="col-lg-5">
			<input class="form-control" id="inputPassword" name="password" type="password" placeholder="password">
		</div>
	</div>
	<div class="form-group">
		<div class="col-lg-5 col-lg-offset-2">
			<button type="submit" value="merge" class="btn btn-primary" />Merge existing account</button>
		</div>
	</div>
</form>
<form class="form-horizontal" name="merge" method="post" action="/merge/{{ characterID }}/">
	<input type="hidden" id="inputUsername" name="username" type="text" value="{{ randomString }}">
	<input type="hidden" id="inputPassword" name="password" type="password" value="{{ randomString }}">
	<div class="form-group">
		<div class="col-lg-5 col-lg-offset-2">
			<button type="submit" value="merge" class="btn btn-success" />No i don't have a user account already.</button>
		</div>
	</div>
</form>


</div>
{% endblock %}
