{% extends 'base.html' %}

{% set pageTitle = 'Post' %}
{% block title %}{% include 'components/title.html' %}{% endblock %}

{% block content %}
{% for message in message %}
	{% if message != "" %}
		<div class="row"><div class="alert alert-success">{{ message }}</div></div>
	{% endif %}
{% endfor %}
<div class="row">
        <div class="col-lg-6">
                <div class="row">
                <h3>Post External Killmail Link (CREST)</h3>
                <form name="postkillmailurl" method="post" action="/post/" class="form">
                        <div class="form-group">
                                <input type="text" id="killmailurl" name="killmailurl" required placeholder="External Killmail Link" class="form-control"/>
                        </div>
                        <div class="form-group">
                                        <div class="col-lg-2">
                                                <input type="submit" class="btn btn-primary">
                                        </div>
                        </div>
                </form>
                </div>
                <div class="row">
                <br/><img src="//{{ siteurl }}/img/km_external_link.png"/><br/>
        </div>
        <hr/>
	</div>

	<div class="col-lg-5">
		<h3>API Key Post</h3>
		<div class="well">
                        <div class="alert alert-danger">
                            <center><strong><a href='https://www.reddit.com/r/Eve/comments/5rn7mp/announcing_the_phase_out_of_all_xml_api_keys_on/' target='_blank'>No more API keys!</a><br/><strong></center>
                        </div>
                        Log in using Eve Online's SSO or post your killmail using CREST.
		</div>
	</div>
</div>

{% endblock %}

{% block robots %}
<meta name="robots" content="nofollow">
{% endblock %}
