{% extends 'base.html' %}

{% set pageTitle = 'Post' %}
{% block title %}{% include 'components/title.html' %}{% endblock %}

{% block content %}
{% for message in message %}
	{% if message != "" %}
		<div class="row"><div class="alert alert-success">{{ message }}</div></div>
	{% endif %}
{% endfor %}
<div class="row">
        <div class="col-lg-6">
                <div class="row">
                <h3>Post External Killmail Link (ESI)</h3>
                <form name="postkillmailurl" method="post" action="/post/" class="form">
                        <div class="form-group">
                                <input type="text" id="killmailurl" name="killmailurl" required placeholder="External Killmail Link" class="form-control"/>
                        </div>
                        <div class="form-group">
                                        <div class="col-lg-2">
                                                <input type="submit" class="btn btn-primary">
                                        </div>
                        </div>
                </form>
                </div>
                <div class="row">
                <br/><img src="//{{ siteurl }}/img/km_external_link.png"/><br/>
        </div>
        <hr/>
	</div>

	<div class="col-lg-5" id='loginforapi' style='display: none;'>
		<h3>Login for API Driven Killmails</h3>
		<div class="well">
            <form action="/ccplogin/" id="loginform">
                <label class="checkbox"><input type="checkbox" name="scopes[]" value="esi-fittings.write_fittings.v1" checked>Allow zKillboard to save Fittings</label>
                <label class="checkbox"><input type="checkbox" name="scopes[]" value="esi-killmails.read_killmails.v1" checked>Allow zKillboard to fetch killmails</label>
                <input id='ssologinimage' type="image" src="/img/ssologin.png">
            </form>
		</div>
	</div>
</div>

{% endblock %}

{% block robots %}
<meta name="robots" content="nofollow">
{% endblock %}
