{% extends 'base.html' %}

{% set pageTitle = 'Battle report generating...' %}
{% block title %}{% include 'components/title.html' %}{% endblock %}

{% block content %}
<div class="row related-status-wrap">
<div class="col-12 col-lg-10 col-xl-8">
<div class="related-status-card related-status-card-reinforced">
<h2>Reinforced mode enabled</h2>
<p>Related battle reports are temporarily disabled while the site is under heavy load.</p>
<p class="related-status-meta">Try again later, or use one of these alternatives:</p>
<div class="related-status-links">
	<a href='https://br.evetools.org/related/{{ solarSystemID }}/{{ unixtime }}/' target='_blank' rel="noopener noreferrer">Open in br.evetools.org</a>
	<a href='https://br.inyour.space/?s={{ solarSystemID }}&b={{ unixtime }}&e=90' target='_blank' rel="noopener noreferrer">Open in br.inyour.space</a>
</div>
</div>
</div>
</div>
<script type="text/javascript">
        //navbar = false;
	//setTimeout(function(){ location.reload(); }, 3000);
</script>

{% endblock %}
