{% extends 'base.html' %}

{% set pageTitle = 'Battle report generating...' %}
{% block title %}{% include 'components/title.html' %}{% endblock %}

{% block content %}
<div class="row related-status-wrap">
<div class="col-12 col-lg-10 col-xl-8">
<div class="related-status-card related-status-card-busy">
<h2>Related report queue is busy</h2>
<p>Too many reports are being generated right now. Please try again in a minute.</p>
<p class="related-status-meta">You can still view this battle using external tools:</p>
<div class="related-status-links">
	<a href='https://br.inyour.space/?s={{ solarSystemID }}&b={{ unixtime }}&e=90' target='_blank' rel="noopener noreferrer">Open in br.inyour.space</a>
</div>
</div>
</div>
</div>

{% endblock %}
