extends base.pug

block vars
  - $pageTitle = 'Battle report generating...';

block title
  include components/title.pug

block content
  .row.related-status-wrap
    .col-12.col-lg-10.col-xl-8
      .related-status-card.related-status-card-busy
        h2 Related report queue is busy
        p Too many reports are being generated right now. Please try again in a minute.
        p.related-status-meta You can still view this battle using external tools:
        .related-status-links
          a(href=('https://br.inyour.space/?s=' . ($solarSystemID ?? '') . '&b=' . ($unixtime ?? '') . '&e=90') target="_blank" rel="noopener noreferrer") Open in br.inyour.space
