<div>
<center><a href='/information/payments/'>Throw away ISK by sending to zKillboard in game.</a></center>
<br/><center><div class='alert alert-danger'>ISK comes from your adfree donation,<br/>so if you sponsor you will lose adfree time!</div></center>
<hr/>
{% if type == 'query' %}
<center>
<h4>Balance: {{ iskA | number_format(0) }} ISK</h4><hr/>
{% set initValue = (iskA / 5000000)|round(0, 'floor') * 5000000 %}
<small><small><i>slide left for negative values</i></small></small>
<p><input id="slider" data-slider-id='sponsor-slider' type="text" data-slider-min="{{ iskA * -1 }}" data-slider-max="{{ iskA }}" data-slider-step="1" data-slider-value="0"/> <span style='left-margin: 0.5em'></p>
<br/>
<p><b class="green">Sponsor <span id='sliderValue'>0</span> ISK</b></p>
<br/><br/><input type='submit' class="btn btn-primary" value='Sponsor' onClick="doSponsor('/sponsor/sponsor/{{ killID }}/' + $('#slider').attr('value') + '/'); return false;">
<br/><br/><div class='alert alert-success'>Sponsoring 100m isk or more will send a notification!</div>
</center>
<script>

function showChange(event)
{
    $("#sliderValue").text((event.value.newValue).toLocaleString(undefined, undefined)).removeClass("red").removeClass("green").addClass( event.value.newValue >= 0 ? 'green' : 'red');
    console.log($(".sliderhandle").attr('aria-valuenow'));
}

$("#slider").slider().bind('change', null, showChange);

</script>
{% else %}
{{ response }}
{% endif %}
<hr/>
<center><a href='/kills/sponsored/'>List of all Sponsored Killmails</a></center>
</div>
