{% extends 'base.html' %}

{% set pageTitle = 'Tickets' %}
{% block title %}{% include 'components/title.html' %}{% endblock %}

{% block content %}

{% if message %} <h1>{{ message.message }}</h1> {% endif %}

{% set imageSize = 64 %}
<h3><a href='/account/tickets/'><span class="glyphicon glyphicon-circle-arrow-left"></span></a> | {% if ticket.subject == "" %}<i>No subject specified</i>{% else %}{{ ticket.subject }}{% endif %}</h3>
<table class="table table-striped">
  <tbody>
    {% for field in replies %}
    <tr>
      <td class="col-lg-2">{% include 'components/image_char.html' %}<br/><strong><a href='/character/{{ field.characterID}}/'>{{ field.characterName }}</a></strong><br>{{ field.killTime }}<br/>{% if field.moderator %}<i class="label label-info">Moderator</i>{% endif %}</strong></td>
      <td class="col-lg-10">{{ field.content|raw }}</td>
   </tr>
   {% endfor %}
  </tbody>
</table>

{% if ticket.status == 1 %}
<hr>
<h4>Reply</h4>
<form name="tickets" method="post" action="/account/tickets/view/{{ page }}/">
	<div class="form-group">
		<textarea id="reply" name="reply" type="text" required placeholder="Reply Here" rows="12" class="form-control" style="color: black; background-color: white; opacity: 1;"></textarea>
	</div>
	<div class="form-group">
		<button type="submit" class="btn btn-primary">Post Reply</button>
	</div>
</form>
{% endif %}

{% if user.moderator == true %}
<form name="statusform" method="post" action=".">
  {% if ticket.status != 0 %}
  <input id="status" name="status" value="0" type="hidden"/>
  <button type="submit" class="btn btn-large btn-warning">Close Ticket</button>
  {% else %}
  <input id="status" name="status" value="1" type="hidden">
  <button type="submit" class="btn btn-large btn-primary">Open Ticket</button>
  {% endif %}
</form>
{% endif %}

{% endblock %}

{% block robots %}
<meta name="robots" content="nofollow, noindex">
{% endblock %}

{% block style %}
	<link rel="stylesheet" href="//{{ siteurl }}/css/bootstrap-wysihtml5.css">
{% endblock %}
{% block script %}
<script type="text/javascript" src="//{{ siteurl }}/js/wysihtml5-0.3.0.js"></script>
<script type="text/javascript" src="//{{ siteurl }}/js/bootstrap-wysihtml5.js"></script>
<script type="text/javascript">
$('#reply').wysihtml5({"font-styles": true, "emphasis": true, "lists": true, "html": false, "link": true, "image": true, "color": false});
</script>
{% endblock %}
