{% extends 'base.html' %}

{% set pageTitle = 'Tickets' %}
{% block title %}{% include 'components/title.html' %}{% endblock %}

{% block content %}
<div class="alert alert-success">
<h3>Are you missing kills?</h3>
<p>Before you create a ticket about missing kills, have you read the FAQ on the <a href='/post/'>Post</a> page?  Have you given zKillboard your API? If not, please keep in mind that zKillboard doesn't automagically get all the kills. Kills are submitted via API or CREST, and if we don't have that, we don't get your kills!<br/>-- Squizz and especially FlyBoy</p>
</div>
<hr/>
<div class="navbar navbar-default">
	<ul class="nav navbar-nav">
		<li class="{{ isActive('tickets', pageview) }}"><a href="/account/tickets/">Tickets</a></li>
		{% if sessionusername %}<li><a data-toggle="modal" data-target="#newTicket" href="#">New Ticket</a></li>{% endif %}
	</ul>
</div>

{% if sessionusername %}
	<div class="row">
		<div class="col-lg-12">
			{% if tickets|length == 0 %}
				<em>You do not have any tickets...</em>
			{% else %}
			<h3>Tickets</h3>
			<table class="table table-condensed table-hover">
				<tbody>
					{% for ticket in tickets %}
					<tr onclick="window.location='/account/tickets/view/{{ ticket._id }}/'">
					  <td class="col-lg-2">{{ ticket.killTime }}&nbsp;&nbsp;&nbsp;{% if ticket.status %}<span class="label label-success">Open{% else %}<span class="label label-important">Closed{% endif %}</span></td>
					  <td class="col-lg-2">{{ ticket.characterName }}</td>
                                          <td class="pull-left" style='width: 100%;'><a href='/account/tickets/view/{{ ticket._id }}/'>{{ ticket.subject }}</a></td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
			{% endif %}
		</div>
	</div>
{% else %}
<div>
Please login to view your tickets or create a ticket.
<div>
{% endif %}

{% endblock %}

{% block modal %}
	<div class="modal fade" id="newTicket">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<strong>New Ticket</strong>
				</div>
				<div class="modal-body">
                                        <div class="alert alert-danger"><center>Click <i class="glyphicon glyphicon-arrow-right"></i> <a href='https://www.reddit.com/r/Eve/comments/4m8jgm/zkillboard_does_not_automatically_get_all/' target='_blank'>zKillboard does not automatically get all killmails.</a> <i class="glyphicon glyphicon-arrow-left"></i> Click<br/>If you post here about a missing killmail, I'll call you an idiot and close your ticket.<br/><br/>FAQ <i class="glyphicon glyphicon-arrow-right"></i> <a href='https://zkillboard.com/information/faq/' target='_blank'>https://zkillboard.com/information/faq/</a> <i class="glyphicon glyphicon-arrow-left"></i> FAQ<br/>zkillboard does not delete killmails or remove characters, corporations, etc.</center></div>
					<form name="tickets" method="post" action="/account/tickets/">
						<label>Subject</label>
						    <input type="text" autocomplete="off" data-provide="typeahead" name="subject" placeholder="zkillboard does not delete killmails or remove characters, corporations, etc." class="form-control" data-original-title=""/>
						<div class="form-group">
							<textarea id="ticket" autocomplete="off" name="ticket" type="text" required placeholder="zkillboard does not delete killmails or remove characters, corporations, etc." class="form-control" rows="12" style="color: black"></textarea>
						</div>
                                                <div class='checkbox'>
                                                        <label>
							<input type='checkbox' id="idiotbox" name="idiotbox" required class="m-control"> I am not asking about missing killmails
                                                        </label>
                                                </div>
                                                <div class='checkbox'>
                                                        <label>
							<input type='checkbox' id="idiotbox" name="idiotbox" required class="m-control"> I am not asking to have anything deleted or altered.
                                                        </label>
                                                </div>
						<label>Response notifications are sent to your character's evemail.</label>
						<div class="form-group">
							<button type="submit" class="btn btn-primary">Post Ticket</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block robots %}
	<meta name="robots" content="nofollow">
{% endblock %}

{% block style %}
	<link rel="stylesheet" href="//{{ siteurl }}/css/bootstrap-tagmanager.css">
	<link rel="stylesheet" href="//{{ siteurl }}/css/bootstrap-wysihtml5.css">
{% endblock %}
{% block script %}
<script type="text/javascript" src="//{{ siteurl }}/js/wysihtml5-0.3.0.js"></script>
<script type="text/javascript" src="//{{ siteurl }}/js/bootstrap-wysihtml5.js"></script>
<script type="text/javascript" src="//{{ siteurl }}/js/bootstrap-tagmanager.js"></script>
<script type="text/javascript">
$(".modal-newissue").css("width", "800px");
$(".modal-newissue").css("margin-left", "-400px");
$(".modal-newissue").css("show");
$('#ticket').wysihtml5({"font-styles": true, "emphasis": true, "lists": true, "html": false, "link": true, "image": true, "color": false});
jQuery(".tagManager").tagsManager({
	//prefilled: ["New Ticket"],
	preventSubmitOnEnter: true,
	typeahead: true,
	typeaheadAjaxSource: null,
	typeaheadSource: ["API", "Bugs", "Fake Kill", "Suggestion", "Question", "General", "Unban", "Harassment"],
    blinkBGColor_1: '#FFFF9C',
    blinkBGColor_2: '#CDE69C',
	maxTags: 7,
	backspace: [8]
});
</script>
{% endblock %}
