{% extends 'base.html' %}

{% set pageTitle = 'Tickets' %}
{% block title %}{% include 'components/title.html' %}{% endblock %}

{% block content %}
<div class="alert alert-success">
<h3>Are you missing kills?</h3>
<p>Before you create a ticket about missing kills, have you read the FAQ on the <a href='/post/'>Post</a> page?  Have you given zKillboard your API? If not, please keep in mind that zKillboard doesn't automagically get all the kills. Kills are submitted via API or CREST, and if we don't have that, we don't get your kills!<br/>-- Squizz and especially FlyBoy</p>
</div>
<hr/>
<div class="navbar navbar-default">
	<ul class="nav navbar-nav">
		<li class="{{ isActive('tickets', pageview) }}"><a href="/tickets/">Tickets</a></li>
		{% if sessionusername %}<li><a data-toggle="modal" data-target="#newIssue" href="#">New Issue</a></li>{% endif %}
	</ul>
</div>

{% if sessionusername %}
	<div class="row">
		<div class="col-lg-12">
			{% if tickets|length == 0 %}
				<em>You do not have any tickets...</em>
			{% else %}
			<h3>Your Tickets</h3>
			<table class="table table-condensed table-hover">
				<tbody>
					{% for ticket in tickets %}
					<tr onclick="window.location='/tickets/view/{{ ticket._id }}/'">
					  <td>{{ ticket.killTime }}</td>
					  <td>{% if ticket.status %}<span class="label label-success pull-right">Open{% else %}<span class="label label-important pull-right">Closed{% endif %}</span></td>
                                          <td><a href='/tickets/view/{{ ticket._id }}/'>Ticket {{ ticket._id }}</a></td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
			{% endif %}
		</div>
	</div>
{% else %}
<pre>
You are not logged in, and thus cannot see any tickets, or submit any tickets.
Please register and login to create a ticket, or use the GitHub link in the top menu to create an issue there.
</pre>
{% endif %}

{% endblock %}

{% block modal %}
	<div class="modal fade" id="newIssue">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4>New Issue</h4>
				</div>
				<div class="modal-body">
					<p>The ticket will be sent using your account name, and a copy will be sent to your accounts email.<br>
					Also, please only use tags appropriate for your ticket.</p>
	
					<form name="tickets" method="post" action="/tickets/">
						<label>Email: (Optional - only used to notify you of responses to your ticket.)</label>
						<input type="text" autocomplete="off" data-provide="typeahead" name="email" placeholder="Email" class="form-control" data-original-title=""/>
						<div class="form-group">
							<textarea id="ticket" name="ticket" type="text" required placeholder="Ticket" class="form-control" rows="12" style="color: black"></textarea>
						</div>
						<div class="form-group">
							<button type="submit" class="btn btn-primary">Post Ticket</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block robots %}
	<meta name="robots" content="nofollow">
{% endblock %}

{% block style %}
	<link rel="stylesheet" href="//{{ siteurl }}/css/bootstrap-tagmanager.css">
	<link rel="stylesheet" href="//{{ siteurl }}/css/bootstrap-wysihtml5.css">
{% endblock %}
{% block script %}
<script type="text/javascript" src="//{{ siteurl }}/js/wysihtml5-0.3.0.js"></script>
<script type="text/javascript" src="//{{ siteurl }}/js/bootstrap-wysihtml5.js"></script>
<script type="text/javascript" src="//{{ siteurl }}/js/bootstrap-tagmanager.js"></script>
<script type="text/javascript">
$(".modal-newissue").css("width", "800px");
$(".modal-newissue").css("margin-left", "-400px");
$(".modal-newissue").css("show");
$('#ticket').wysihtml5({"font-styles": true, "emphasis": true, "lists": true, "html": false, "link": true, "image": true, "color": false});
jQuery(".tagManager").tagsManager({
	//prefilled: ["New Issue"],
	preventSubmitOnEnter: true,
	typeahead: true,
	typeaheadAjaxSource: null,
	typeaheadSource: ["API", "Bugs", "Fake Kill", "Suggestion", "Question", "General", "Unban", "Harassment"],
    blinkBGColor_1: '#FFFF9C',
    blinkBGColor_2: '#CDE69C',
	maxTags: 7,
	backspace: [8]
});
</script>
{% endblock %}
