extends base.pug

block vars
  - $pageTitle = 'zKillboard Server Top';

block title
  include components/title.pug

block style
  link(rel="stylesheet" href="/css/ztop.css?v=" . $version)

block content
  .ztop-wrap
    .ztop-hero
      .ztop-title zTop
      .ztop-subtitle Live server status, queues, and telemetry.
      .ztop-controls
        .ztop-meta
          span#ztop-last-update Waiting for first update...
          span#ztop-connection.ztop-pill Connecting
    #ztop-servers.ztop-servers
    #ztop-groups.ztop-group-grid
      .ztop-group
        .ztop-group-title Waiting for metrics...
    #ztop-esi-buckets.ztop-esi-buckets
      .ztop-group-title ESI outbound calls
      .ztop-empty Waiting for ESI telemetry...

block script
  script(defer type="text/javascript" src="/js/ztop.js?v=" . $version)
