{% extends 'base.html' %}

{% set pageTitle = 'zKillboard Server Top' %}
{% block title %}{% include 'components/title.html' %}{% endblock %}

{% block content %}
<pre id="textblock" style="filter: brightness(125%);"></pre>
{% endblock %}

{% block script %}
<script type="text/javascript">
    $( document ).ready(function() { 
       updateTextBlock();
    });
    function updateTextBlock() {
        setTimeout("updateTextBlock();", 3000);
        $.get("/ztop.txt", function( data ) {
            $("#textblock").text(data);
        });
    }
  </script>
{% endblock %}
