{% extends 'base.html' %}

{% set pageTitle = 'zKillboard Server Top' %}
{% block title %}{% include 'components/title.html' %}{% endblock %}

{% block content %}
<pre id="ztoptextblock" style="filter: brightness(125%); height: 55em;">ztop will populate momentarily unless your live updates are disabled</pre>
{% endblock %}

{% block script %}
<script type="text/javascript">
setTimeout(load_ztop, 1000);
function load_ztop() {
    if (!pubsub) setTimeout(load_ztop, 250);
    pubsub('ztop');
}
</script>
{% endblock %}
