if (count($activePvP ?? []) > 0)
  .float-start.w-100.p-0.m-0
    .text-center
      h2.h5 Active PVP (last 7 days)
      if (($pageType ?? '') == 'overview')
        small
            a(href="./kills/") Kills
            |  + 
            a(href="./losses/") Losses
    table.table.table-sm.topBoxes.col-lg-2.w-100.p-0.m-0(aria-label="Active PVP last 7 days")
      each $row in ($activePvP ?? [])
        - $row = is_object($row) ? (array) $row : $row;
        tr
          td= $row['type'] ?? ''
          td.text-end(data-format="format-int-once" data-raw=($row['count'] ?? 0))= number_format((float) ($row['count'] ?? 0), 0)
  .clearfix
