{% set first = true %}
{% set counter = 1 %}
{% if topSet.values | length %}
<div class="pull-left" style="width: 100%; padding: 0px; margin: 0px;">
  <center><h5>{{ topSet.title }}</h5></center>
  <table class="table table-condensed topBoxes col-lg-2" style="padding: 0px; margin: 0px; width: 100%;">
  {% for data in topSet.values %}
    {% set field = data %}
    {% if first %}
      <tr>
        {% set imageSize = 64 %}
        {% set field = data %}
        {% if topSet.type == 'character' %}
          <td colspan="3">{% include 'components/image_char.html' %}</td>
        {% elseif topSet.type == 'corporation' %}
          <td colspan="3">{% include 'components/image_corp.html' %}</td>
        {% elseif topSet.type == 'alliance' %}
          <td colspan="3">{% include 'components/image_alli.html' %}</td>
        {% elseif topSet.type == 'solarSystem' %}
          <td colspan="3">{% include 'components/image_system.html' %}</td>
	{% elseif topSet.type == 'shipType' %}
          <td colspan="3">{% include 'components/image_ship.html' %}</td>
	{% elseif topSet.type == 'location' %}
          <td colspan="3">{% include 'components/image_item.html' %}</td>
        {% endif %}
      </tr>
      {% set first = false %}
    {% endif %}
    {% if counter == 11 %}
    <tr class="grouping-all-{{ topSet.type }}">
        <td colspan="4"><center><span class="btn btn-sm btn-primary" onclick="$('.grouping-{{ topSet.type }}').show(); $('.grouping-all-{{topSet.type}}').hide(); return false;">The Rest (up to 100)</span></center></td>
    </tr>
    {% endif %}
    <tr class="grouping-{{ topSet.type }}{% if counter >= 11 %} collapse{% endif %}">
        {% if topSet.type == 'character' %}
          <td style="display: none;" class="deepfilter hidedeepfilter"><input type="checkbox" class="topfilter" data-filter-type="{{ topSet.type }}" data-filter-id="{{ field.characterID }}"/></td>
          <td>{% include 'components/text_char.html' %}</td>
        {% elseif topSet.type == 'corporation' %}
          <td style="display: none;" class="deepfilter hidedeepfilter"><input type="checkbox" class="topfilter" data-filter-type="{{ topSet.type }}" data-filter-id="{{ field.corporationID }}"/></td>
          <td>{% include 'components/text_corp.html' %}</td>
        {% elseif topSet.type == 'alliance' %}
          <td style="display: none;" class="deepfilter hidedeepfilter"><input type="checkbox" class="topfilter" data-filter-type="{{ topSet.type }}" data-filter-id="{{ field.allianceID }}"/></td>
          <td>{% include 'components/text_alli.html' %}</td>
        {% elseif topSet.type == 'faction' %}
          <td style="display: none;" class="deepfilter hidedeepfilter"><input type="checkbox" class="topfilter" data-filter-type="{{ topSet.type }}" data-filter-id="{{ field.factionID }}"/></td>
          <td>{% include 'components/text_faction.html' %}</td>
        {% elseif topSet.type == 'solarSystem' %}
          <td style="display: none;" class="deepfilter hidedeepfilter"><input type="checkbox" class="topfilter" data-filter-type="{{ topSet.type }}" data-filter-id="{{ field.solarSystemID }}"/></td>
          <td>{% include 'components/text_system.html' %}</td>
    	{% elseif topSet.type == 'shipType' %}
          <td style="display: none;" class="deepfilter hidedeepfilter"><input type="checkbox" class="topfilter" data-filter-type="{{ topSet.type }}" data-filter-id="{{ field.shipTypeID }}"/></td>
          <td>{% include 'components/text_ship.html' %}</td>
    	{% elseif topSet.type == 'group' %}
          <td style="display: none;" class="deepfilter hidedeepfilter"><input type="checkbox" class="topfilter" data-filter-type="{{ topSet.type }}" data-filter-id="{{ field.groupID }}"/></td>
          <td>{% include 'components/text_group.html' %}</td>
	    {% elseif topSet.type == 'region' %}
          <td style="display: none;" class="deepfilter hidedeepfilter"><input type="checkbox" class="topfilter" data-filter-type="{{ topSet.type }}" data-filter-id="{{ field.regionID }}"/></td>
          <td>{% include 'components/text_region.html' %}</td>
	    {% elseif topSet.type == 'location' %}
          <td style="display: none;" class="deepfilter hidedeepfilter"><input type="checkbox" class="topfilter" data-filter-type="{{ topSet.type }}" data-filter-id="{{ field.locationID }}"/></td>
          <td>{% include 'components/text_location.html' %}</td>
        {% endif %}
        {% if topSet.sortKey == 'zkb.totalValue' %}
        <td style="text-align: right;" format='format-isk-once' raw='{{ data.kills }}' t='isk'>{{ data.kills }}</td>
        {% elseif topSet.sortKey == 'attackerCount' %}
        <td style="text-align: right;" format='format-dec1' raw='{{ data.kills }}'>{{ data.kills }}</td>
        {% else %}
        <td style="text-align: right;" {% if data.score != 0 %}title="Score: {{ data.score|number_format(0) }}" rel="tooltip"{% endif %} format="format-int-once" raw="{{ data.kills }}">{{ data.kills|number_format(0) }}</td>
        {% endif %}
    </tr>
    {% set counter = counter + 1 %}
  {% endfor %}
</table>
</div>
<div class="clearfix"></div>
{% elseif topSet.title == 'Top Characters' %}
  Empty result or some resultsets too large for fast grouping. Check your filters.
{% else %}
<div class='d-none'></div>
{% endif %}
