<table class="table table-condensed table-striped table-hover" style="margin-bottom: 0px;">
	{% if not hideTableHeading %}
	<thead>
		<tr class="titles">
			<th colspan="3">{{ killdata.info.number_involved }} Involved</th>
			<th class='text-right'>Damage</th>
		</tr>
	</thead>
	{% endif %}
	<tbody>
	{% for attacker in attackList %}
	{% set field = attacker %}
		<tr class="attacker">
			<td style="width: 40px; vertical-align: middle;">
				{% set imageSize = 64 %}
				{% include 'components/image_char.html' %}
			</td>
			<td style="width: 35px; vertical-align: middle;">
				{% set imageSize = 32 %}
				{% include 'components/image_ship.html' %}
				{% if field.weaponTypeID == 0 %}
					{% include 'components/image_ship.html' %}
				{% else %}
					{% include 'components/image_item.html' %}
				{% endif %}
			</td>
			<td class="pilotinfo">
				{% set field = attacker %}
				{% set shortLength = 25 %}
				<div>
                    {% if field.characterID is not defined %}
					    {% include 'components/text_ship.html' %}<br/>
                    {% else %}
					    {% include 'components/text_char.html' %}<br/>
                    {% endif %}
					{% include 'components/text_corp.html' %}<br/>
					{% include 'components/text_alli.html' %}
                    {% if field.factionName %}<br/>{% include 'components/text_faction.html' %}{% endif %}
				</div>
				{% set shortLength = 30 %}
			</td>
			<td class="damage text-right">
					<span format="format-int-once" raw="{{ attacker.damage}}">{{ attacker.damage|number_format(0) }}</span><br/>
					{% if attacker.damage > 0 and killdata.victim.damage > 0 %}
                        {% set percentage = ((attacker.damage / killdata.victim.damage) * 100) %}
						<small><span class="format-dec1-once" raw="{{ percentage }}">{{ percentage|number_format(1) }}</span>%<small>
					{% endif %}
			</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
