{% if topSet | length %}
<div class="container" style='width: 100%'>
{% if topSet.title %}
<center><h4>{{ topSet.title }}</h4></center>
{% else %}
<center><h4>{{ topTitle }}</h4></center>
{% endif %}
<div class="clearfix"></div>
<div class="clearfix"></div>
{% set imageSize = 128 %}
{% set resizeImage = 128 %}
{% set shipNameLength = 32 %}
{% for data in topSet %}
  <div class="col-lg-2 pull-left" style="width: 16.6%; text-align: center; height: 180px;">
		{% set field = data.victim %}
		{% set shipImageLinkOverride = data.killID %}
		{% set shipNameLength = 20 %}
		<div class="hidden-xs" style='width: 100%; text-overflow: ellipsis; white-space: nowrap; overflow: hidden;'>{% include 'components/text_ship.html' %}</div>
		{% include 'components/image_ship.html' %}<br/>
		<h6>{{ formatIsk(data.zkb.totalValue) }} ISK</h6>
		<span class="hidden-xs">{% if field.characterName|length > 0 %}
		  {% include 'components/text_char.html' %} </td>
		{% else %}
		  {% include 'components/text_corp.html' %} </td>
		{% endif %}<br/></span>
	  <br/>
  </div>
{% endfor %}
</div>
{% endif %}
