if (!empty($topSet))
  .container-fluid.px-0.mb-3
    h2.h4.text-center.mt-2.mb-2= $topSet['title'] ?? ($topTitle ?? '')
    .row.gy-1
      each $data in $topSet
        if (is_array($data) && isset($data['victim']))
          - $field = $data['victim'] ?? [];
          - $killID = $data['killID'] ?? 0;
          - $shipTypeID = $field['shipTypeID'] ?? 0;
          - $shipName = $field['shipName'] ?? '';
          - $totalValue = $data['zkb']['totalValue'] ?? 0;
          .col-6.col-sm-4.col-lg-2.text-center
            .text-truncate
              if ($killID > 0)
                a(href=('/kill/' . $killID . '/') rel="tooltip" title=('Detail for ' . $killID))= $shipName
              else
                a(href=('/ship/' . $shipTypeID . '/') title=$shipName)= $shipName
            if ($shipTypeID == 0)
              img.eveimage.img-rounded(src=('//' . ($siteurl ?? '') . '/img/eve-question.png') style="height: 128px; width: 128px;" alt="" loading="lazy" decoding="async" fetchpriority="low")
            else
              a(href=('/kill/' . $killID . '/') rel="tooltip" title=('Detail for ' . $killID))
                span.shipImageSpan(data-l="128px" data-i="128" style="height: 128px; width: 128px; --size: 128px; --sizei: 128;")
                  img.shipImageRender.eveimage.img-rounded(src=(($image_ship ?? $image_item ?? 'https://images.evetech.net/types/') . $shipTypeID . '/render?size=128') style="height: 128px; width: 128px;" alt=$shipName onerror="this.setAttribute('shipImageError', 'true')" loading="lazy" decoding="async" fetchpriority="low")
                  if (strlen((string) ($field['pip'] ?? '')) > 0)
                    img.pip(src=('/img/pips/' . $field['pip']) alt="" loading="lazy" decoding="async" fetchpriority="low")
            div.h6.mb-1(data-format="format-isk-once-i" data-raw=$totalValue)= $formatIsk($totalValue) . ' ISK'
            .text-truncate
              if (strlen((string) ($field['characterName'] ?? '')) > 0)
                a(href=('/character/' . ($field['characterID'] ?? 0) . '/') title=($field['characterName'] ?? ''))= $field['characterName'] ?? ''
              else
                a(href=('/corporation/' . ($field['corporationID'] ?? 0) . '/') title=($field['corporationName'] ?? ''))= $field['corporationName'] ?? ''
