<table id="corpstats" class="table table-hover table-striped tablesorter" id="corpstats" style="margin: 1em; width: initial !important;">
	<thead>
		<tr>
			<th style="width: 50px;">Ticker</th>
			<th style="width: 200px;">Corporation</th>
			<th style="width: 100px; text-align: right">Members</th>
			<th style="width: 200px;">CEO</th>
		</tr>
	</thead>
	<tbody>
	{% for corp in corpStats %}
		{% set field = corp %}
		<tr>
			<td>[{{corp.ticker}}]</td>
			<td>{% include 'components/text_corp.html' %}</td>
			<td style="text-align: right">{{ corp.members | number_format(0) }}</td>
			<td style=""><a href="/character/{{ corp.ceoID }}/">{{ corp.ceoName }}</a></td>
		</tr>
	{% endfor %}
	</tbody>
</table>
