table.table.table-hover.table-striped
  tr
    th Corp. Name
    th Ticker
    th.text-end Members
    th.text-end API
    th Last Checked
  each $corp in ($corps ?? [])
    - $corp = is_object($corp) ? (array) $corp : $corp;
    - $field = $corp;
    tr
      td
        include text_corp.pug
      td= '[' . ($corp['ticker'] ?? '') . ']'
      td.text-end= number_format((float) ($corp['memberCount'] ?? 0), 0)
      td.text-end
        if (($corp['apiVerified'] ?? 0) == 1)
          span.green API Verified
        else if (isset($corp['apiPercentage']))
          = $corp['apiPercentage'] . '% Verified'
      td= $corp['cachedUntilTime'] ?? ''
