- $first = true;
if (count($topDonators ?? []) > 0)
  .float-start(style="width: 100%; padding: 0px; margin: 0px;")
    .text-center
      h5 Biggest Golden Wrecks
    table.table.table-sm.topBoxes.col-lg-2.p-0.m-0.w-100(aria-label="Biggest Golden Wrecks")
      each $data in ($topDonators ?? [])
        - $field = $data;
        if ($first)
          tr
            - $imageSize = 64;
            - $field = $data;
            td
              include image_char.pug
            td.text-center.align-middle
              a(href="/information/payments/")
                img(src="/img/gold_logo_cropped_32.png" alt="")
          - $first = false;
        tr
          td
            include text_char.pug
          td.text-end(title=(($data['iskSum'] ?? 0) . ' ISK') rel="tooltip")= $shortNum($data['iskSum'] ?? 0)
  .text-center
    i Last 7 days - Thank you!
  .clearfix
