- $first = true;
if (count($topDonators ?? []) > 0)
  .float-start(style="width: 100%; padding: 0px; margin: 0px;")
    center
      h5 Biggest Golden Wrecks
    table.table.table-sm.topBoxes.col-lg-2(style="padding: 0px; margin: 0px; width: 100%;")
      each $data in ($topDonators ?? [])
        - $field = $data;
        if ($first)
          tr
            - $imageSize = 64;
            - $field = $data;
            td
              include image_char.pug
            td(align="middle" valign="middle")
              a(href="/information/payments/")
                img(src="/img/gold_logo_cropped_32.png" alt="")
          - $first = false;
        tr
          td
            include text_char.pug
          td(style="text-align: right;" title=(($data['iskSum'] ?? 0) . ' ISK') rel="tooltip")= $shortNum($data['iskSum'] ?? 0)
  center
    i Last 7 days - Thank you!
  .clearfix
