{% set imageSize = 32 %}
{% set resizeImage = 24 %}
{% set headerDisplayed = false %}
{% set total = 0 %}
{% set totalDropped = 0 %}
{% set totalDestroyed = 0 %}
{% for item in items %}
	{% if item.flagName == flagName %}
	{% if headerDisplayed == false %}
                {% set total = 0 %}
		{% set totalDropped = 0 %}
		{% set totalDestroyed = 0 %}
		<tr class="hide-when-sorted">
			<th data-order="{{ i() }}" colspan="4"><h5>{{ flagName }}</h5>{% if flagName == "Frigate Bay" %} <small>Full value of frigate not included in killmail value.</small>{% endif %}</th>
<th class="d-none"></th>
<th class="d-none"></th>
<th class="d-none"></th>
		</tr>
	{% set headerDisplayed = true %}
	{% endif %}
	{% set droppedRow = item.quantity_dropped > 0 ? 'item_dropped_row' : '' %}
    {% set dropped = item.quantity_dropped > 0 ? 'item_dropped' : '' %}
    {% set destroyed = item.quantity_destroyed > 0 ? 'item_destroyed' : '' %}
	<tr class="item_row {{ droppedRow }}">
		{% set field = item %}
		<td data-order="{{ i() }}" class="icons"><div align="center">{% include 'components/image_item.html' %}</div></td>
		<td data-order="{{ item.typeName }}" class="{% if dropped %}{{ dropped }}{% else %}{{ destroyed }}{% endif %}">{% if item.inContainer == 1%}<span class="hide-when-sorted">&mdash; </span>{% endif %}<a href="/item/{{item.typeID}}/">{{ item.typeName }}{% if item.singleton == 2%} (Copy){% endif %}</a></td>
        {% set qty = (item.quantity_dropped + item.quantity_destroyed) %}
		<td class="{% if dropped %}{{ dropped }}{% else %}{{ destroyed }}{% endif %} columnQty" style="text-align: right;" data-order="{{ qty }}"><span format="format-int-once" raw="{{ qty }}">{{ qty }}</span> {% if dropped %}<i class="fas fa-check" aria-hidden="true" style="color: inherit;"></i>{% else %}<i class="fas fa-times" aria-hidden="true" style="color: inherit;"></i>{% endif %}</td>
                {% set price = (item.singleton == 2 ? 0.01 * (item.quantity_dropped + item.quantity_destroyed) : item.price) %}
		<td class="price" style="text-align: right;" data-order="{{ price }}" format="format-dec2-once" raw="{{ price }}">{{ price|number_format(2) }}</td>
</tr>
                {% set total = (total + price) %}
		{% set unitPrice = qty > 0 ? (price / qty) : 0 %}
		{% set totalDropped = totalDropped + (unitPrice * item.quantity_dropped) %}
		{% set totalDestroyed = totalDestroyed + (unitPrice * item.quantity_destroyed) %}
	{% endif %}
{% endfor %}
{% if total > 0 and items|length > 1 %}<tr class="hide-when-sorted"><td data-order="{{ i() }}" colspan='4' style='text-align: right'><small><span class="item_dropped"><span format="format-dec2-once" raw="{{ totalDropped }}">{{ totalDropped|number_format(2) }}</span> <i class="fas fa-check" aria-hidden="true" style="color: inherit;"></i></span> | <span class="item_destroyed"><span format="format-dec2-once" raw="{{ totalDestroyed }}">{{ totalDestroyed|number_format(2) }}</span> <i class="fas fa-times" aria-hidden="true" style="color: inherit;"></i></span> | Total: <span format="format-dec2-once" raw="{{ total }}">{{ total|number_format(2) }}</span></small></td><td class="d-none"></td><td class="d-none"></td><td class="d-none"></td></tr>{% endif %}
