<hr/>
<h3>Monthly History</h3>
{% set history = statistics.months %} 
{% set lastYear = 0 %}
{% set currentYear = 0 %}
<table class="table table-sm table-hover">
<thead>
<tr>
	<th><span class="float-end green">&nbsp;</span></th>
	<th><span class="float-end green">Kills</span></th>
	<th><span class="float-end green">Points</span></th>
	<th><span class="float-end green">ISK</span></th>
	<th><span class="float-end red">Losses</span></th>
	<th><span class="float-end red">Points</span></th>
	<th><span class="float-end red">ISK</span></th>
	<th><span class="float-end">Efficiency</span></th>
	<th><span class="float-end">Top 10</span></th>
</tr>
</thead>
{% for month in history %}
	{% if currentYear != month.year %}
		<tr class="heading"><th colspan="9">{{ month.year }}</th></tr>
		{% set currentYear = month.year %}
	{% endif %}
	<tr>
		<td><a href="/{{ key }}/{{ id }}/year/{{ month.year }}/month/{{ month.month }}/">{{ getLongMonth(month.month) }}</a></td>
		<td><span class="float-end green">{{ month.shipsDestroyed | number_format(0) }}</span></td>
		<td><span class="float-end green">{{ month.pointsDestroyed | number_format(0) }}</span></td>
		<td><span class="float-end green">{{ formatIsk(month.iskDestroyed) }}</span></td>
		<td><span class="float-end red">{{ month.shipsLost | number_format(0) }}</span></td>	
		<td><span class="float-end red">{{ month.pointsLost | number_format(0) }}</span></td>	
		<td><span class="float-end red">{{ formatIsk(month.iskLost) }}</span></td>	
		{% set efficiency = (month.iskDestroyed == 0 ? 0 : (month.iskDestroyed / (month.iskDestroyed + month.iskLost) * 100)) %}
		{% set efficiencyClass = (efficiency > 50 ? 'green' : 'red') %}
		<td><span class="float-end {{ efficiencyClass }}">{{ efficiency | number_format(1) }}%</span></td>
		<td><span class="float-end"><a href="/{{ key }}/{{ id }}/top/year/{{ month.year }}/month/{{ month.month }}/">{{ month.month }} / {{ month.year }}</a></span></td>
	</tr>
{% endfor %}
</table>
