{% set actualSize = (resizeImage is defined) ? resizeImage : imageSize %}
{% if field.shipTypeID == 0 %}
	<img src="//{{ siteurl }}/img/eve-question.png" style='height: {{actualSize}}px; width: {{actualSize}}px;' class="eveimage img-rounded" alt=""/>
{% else %}
	{% if shipImageLinkOverride != 0 %}
		{% set url = "/kill/" ~ shipImageLinkOverride ~ "/" %}
		{% set title = "Detail for " ~ shipImageLinkOverride %}
	{% else %}
		{% set url = "/ship/" ~ field.shipTypeID ~ "/" %}
		{% set title = field.shipName %}
	{% endif %}
	{% set source = ( actualSize > 64 ? image_ship : image_item ) %}
	<a href="{{ url }}" rel="tooltip" title="{{ title }}" class="{{ isPullLeft ? "pull-left " : "" }}">
        <span class="shipImageSpan"  data-l="{{ actualSize }}px" data-i="{{ actualSize }}"  style="height: {{ actualSize }}px; width: {{ actualSize }}px; --size: {{ actualSize }}px; --sizei: {{ actualSize }};">
		    <img src="{{ source }}{{ field.shipTypeID }}/render?size={{imageSize}}" style='height: {{actualSize}}px; width: {{actualSize}}px;' class="shipImageRender {{ isDelayed ? "delayed " : "" }}{{ isPullLeft ? "pull-left " : "" }}eveimage img-rounded" alt="{{field.shipName}}" onerror="this.setAttribute('shipImageError', 'true')"/>
            <!-- <img class="shipImageIcon" src="{{ source }}{{ field.shipTypeID }}/icon" alt=""> -->
            {% if field.pip|length > 0 %}
            <img class="pip" src="/img/pips/{{field.pip}}" alt="">
            {% endif %}
        </span>
	</a>
{% endif %}
