{% set actualSize = (resizeImage is defined) ? resizeImage : imageSize %}
{% if field.corporationID == 0 %}
<img src="{{ image_corporation}}1/logo?size={{imageSize}}" style='height: {{actualSize}}px; width: {{actualSize}}px;'  class="eveimage img-rounded"/>
{% else %}
<a href="/corporation/{{ field.corporationID }}/" rel="tooltip" title="{{ field.corporationName }}">
    <img src="{{ image_corporation}}{{ field.corporationID }}/logo?size={{imageSize}}" style='height: {{actualSize}}px; width: {{actualSize}}px;' class="eveimage img-rounded" alt="{{ field.corporationName}}" onerror="this.onerror = null; this.src='{{ image_alliance }}1/logo?size={{ imageSize }}'"/>
</a>
{% endif %}

