- $imageSize = $imageSize ?? 32;
- $actualSize = $resizeImage ?? $imageSize;
if (($field['corporationID'] ?? 0) == 0)
  img.eveimage.img-rounded(src=(($image_corporation ?? 'https://images.evetech.net/corporations/') . '1/logo?size=' . $imageSize) style=('height: ' . $actualSize . 'px; width: ' . $actualSize . 'px;') alt="Unknown corporation logo" loading="lazy" decoding="async" fetchpriority="low")
else
  a(href=('/corporation/' . $field['corporationID'] . '/') rel="tooltip" title=($field['corporationName'] ?? ''))
    img.eveimage.img-rounded(src=(($image_corporation ?? 'https://images.evetech.net/corporations/') . $field['corporationID'] . '/logo?size=' . $imageSize) style=('height: ' . $actualSize . 'px; width: ' . $actualSize . 'px;') alt=($field['corporationName'] ?? '') oonerror=("this.onerror = null; this.src='" . ($image_alliance ?? 'https://images.evetech.net/alliances/') . "1/logo?size=" . $imageSize . "'") loading="lazy" decoding="async" fetchpriority="low")
