{% set actualSize = (resizeImage is defined) ? resizeImage : imageSize %}
{% if field.corporationID == 0 %}
<img src="{{ image_corporation}}1_{{imageSize}}.png" height="{{actualSize}}" width="{{actualSize}}" class="eveimage img-rounded"/>
{% else %}
<a href="/corporation/{{ field.corporationID }}/" rel="tooltip" title="{{ field.corporationName }}">
    <img src="{{ image_corporation}}{{ field.corporationID }}_{{imageSize}}.png" height="{{actualSize}}" width="{{actualSize}}" class="eveimage img-rounded" alt="{{ field.corporationName}}"/>
</a>
{% endif %}

