<div class="pull-left" style="margin-right: 0.5em;">
	{% set imageSize = 128 %}
	{% set field = detail %}
	{% if detail.shipTypeID and key == 'ship' %}
		{% include 'components/image_ship.html' %}
	{% endif %}
	{% if detail.characterID and key == 'character' %}
		<center>
		{% include 'components/image_char.html' %}<br/><small><small><i><a href='#' onClick="$('#largeImage').modal(); return false;">Enlarge</a></small></small></i><br/>
		</center>
	{% endif %}
	{% if detail.corporationID and key == 'corporation' %}
		{% include 'components/image_corp.html' %}
	{% endif %}
	{% if detail.allianceID != 0 and key == 'alliance' %}
		{% include 'components/image_alli.html' %}
	{% endif %}
	{% if detail.factionID != 0 and key == 'faction'%}
		{% include 'components/image_faction.html' %}
	{% endif %}
	{% if detail.solarSystemName and key == 'system' %}
		{% include 'components/image_system.html' %}
	{% endif %}
	{% if detail.regionName and key == 'region' %}
		{% set imageSize = 64 %}
		{% include 'components/image_region.html' %}
	{% endif %}
	{% if detail.itemID and key == 'location' %}
		{% set imageSize = 64 %}
		{% include 'components/image_item.html' %}
	{% endif %}
</div>
{% if detail.groupShips %}
<div class="pull-left">
	{% set imageSize = 64 %}
	{% set isPullLeft = true %}
	{% for field in detail.groupShips %}
		{% include 'components/image_ship.html' %}
	{% endfor %}
	{% set isPullLeft = false %}
</div>
{% endif %}
