- $detailData = is_object($detail ?? null) ? (array) $detail : ($detail ?? []);
.float-start(style="margin-right: 0.5em;")
  - $imageSize = 128;
  - $field = $detailData;
  if (!empty($detailData['shipTypeID']) && ($key ?? '') == 'ship')
    include image_ship.pug
  if (!empty($detailData['characterID']) && ($key ?? '') == 'character')
    center
      include image_char.pug
      br
      small
        small
          i
            a(href="#" data-bs-toggle="modal" data-bs-target="#largeImage" onclick="return false;") Enlarge
      br
  if (!empty($detailData['corporationID']) && ($key ?? '') == 'corporation')
    include image_corp.pug
  if (($detailData['allianceID'] ?? 0) != 0 && ($key ?? '') == 'alliance')
    include image_alli.pug
  if (($detailData['factionID'] ?? 0) != 0 && ($key ?? '') == 'faction')
    include image_faction.pug
  if (!empty($detailData['solarSystemName']) && ($key ?? '') == 'system')
    include image_system.pug
  if (!empty($detailData['constellationName']) && ($key ?? '') == 'constellation')
    - $imageSize = 128;
    include image_constellation.pug
  if (!empty($detailData['regionName']) && ($key ?? '') == 'region')
    - $imageSize = 128;
    include image_region.pug
  if (($key ?? '') == 'location')
    - $imageSize = 128;
    include image_item.pug
if (!empty($detailData['groupShips']))
  .float-start
    - $imageSize = 64;
    - $isPullLeft = true;
    each $field in $detailData['groupShips']
      - $field = is_object($field) ? (array) $field : $field;
      include image_ship.pug
    - $isPullLeft = false;
