{% set shortLength = 100 %}
{% if detail.characterName %}{% set name = detail.characterName %}
{% elseif detail.corporationName %}{% set name = detail.corporationName %}
{% elseif detail.allianceName %}{% set name = detail.allianceName %}
{% elseif detail.factionName %}{% set name = detail.factionName %}
{% elseif pageName %}{% set name = pageName %}{% endif %}

{% if detail.aticker %}{% set ticker = ' <' ~ detail.aticker ~ '>' %}{% endif %}
{% if detail.cticker %}{% set ticker = ' [' ~ detail.cticker ~ ']' %}{% endif %}

{% if key != '' %}
	{% set field = detail %}
{% else %}
<h2><small>Overview for</small> {{ name }}</h2>
{% endif %}

<div class="row" style="margin: 0px; padding: 0px;">
	<div class="col-lg-6 pull-left" style="margin: 0px; padding: 0px;">
		<table style="margin: 0px; padding: 0px; background-color: transparent;" class="table table-condensed">
		{% if detail.groupShips %}
                        <tr>   
                                <th class='col-lg-1'>Class:</th>
                                <td itemprop="class"><a href="/group/{{ detail.groupID }}/">{{ detail.groupName }}</a></td>
                        </tr>
		{% endif %}
		<tr><td {% if detail.groupShips %}colspan='2' {% endif %} style="{{ not detail.groupShips ? 'width: 130px; ' : ''}}border-top: none; margin: 0px; padding: 0px;">
		{% include 'components/info_top_image.html' %}
		</td><td style="border-top: none; margin: 0px; padding: 0px;">
		<div itemscope class="pull-left">
		{% if not detail.groupShips %}
	        <table class="table table-condensed">
			<tbody>
   	         {% if detail.characterID %}
   	         <tr>
                <th>Character:</th>
				<td itemprop="name">{% include 'components/text_char.html' %} {% if key == "character" and apiVerified > 0 and apiCorpVerified != true %}<b rel="tooltip" title="API Verified{% if nextApiCheck != '' %}{{ '\n'|raw }}Last checked at {{ nextApiCheck }}{% endif %}" class="fa fa-check" style="color:#00FF00"></b>{% endif %}
                {% if extra.recentkills %} &nbsp;<i class="fa fa-bolt green" title='Recently Active.' rel='tooltip'></i>{% endif %}
				{% include 'components/tracker.html' %}
				{% set skipTracker = 'yes' %}
				</td>
            </tr>
            {% endif %}
            {% if detail.corporationID %}
            <tr>
                <th>Corporation:</th>
				<td itemprop="corporation">{% include 'components/text_corp.html' %} {% if detail.cticker %}[{{ detail.cticker }}]{% endif %} {% if key == "corporation" and apiVerified > 0 %}<b rel="tooltip" title="API Verified{% if nextApiCheck != '' %}{{ '\n'|raw }} Last Checked at {{ nextApiCheck }}{% endif %}" class="fa fa-check" style="color:#00FF00"></b>{% elseif apiCorpVerified == true %}<b rel="tooltip" title="Corp API Verified" class="fa fa-check" style="color:#00FF00"></b>{% endif %}
				{% include 'components/tracker.html' %}
				{% set skipTracker = 'yes' %}
			</td>
            </tr>
			{% endif %}
			{% if detail.ceoID > 1 and detail.ceoName %}
			<tr>
				<th class="span2">CEO:</th>
				<td itemprop="ceo">{% include 'components/text_char.html' %}</td>
			</tr>
			{% endif %}
			{% if detail.allianceName %}
			<tr>
				<th>Alliance:</th>
				<td itemprop="alliance">{% include 'components/text_alli.html' %} {% if detail.aticker %}&lt;{{ detail.aticker }}&gt;{% endif %}
				{% include 'components/tracker.html' %}
				{% set skipTracker = 'yes' %}
				</td>
			</tr>
			{% endif %}
			{% if detail.executorCorpID and detail.executorCorpName %}
			<tr>
				<th class="span2">Executor:</th>
				<td itemprop="executor">{% include 'components/text_corp.html' %}</td>
			</tr>
			{% endif %}
            {% if detail.factionName %}
			<tr>
				<th>Faction:</th>
				<td itemprop="faction">{% include 'components/text_faction.html' %}</td>
			</tr>
            {% endif %}
            {% if detail.secStatus and not detail.solarSystemName %}
                {% set calcStatus = detail.secStatus %}
                {% if calcStatus > 5 %}{% set calcStatus = 5 %}{% elseif calcStatus < -5 %}{% set calcStatus = -5 %}{% endif %}
                {% set calcStatus = (calcStatus / 5) + 0.8 %}
                {% if calcStatus > 1 %}{% set calcStatus = 1 %}{% endif %}
                {% set color = secStatusColor(calcStatus) %}
                        <tr>   
                                <th>Sec. Status:</th>
                                <td itemprop="sec_status" style='color: {{ color }}'>{{ detail.secStatus|number_format(2) }}</td>
                        </tr>
            {% endif %}
            {% if detail.shipName %}
			<tr>
				<th>Ship:</th>
				<td itemprop="ship"><a href="/item/{{ detail.shipTypeID}}/">{{ detail.shipName }}</a></td>
			</tr>
            {% endif %}
            {% if detail.itemID %}
                        <tr>   
                                <th>Location:</th>
                                <td itemprop="location"><a href="/location/{{detail.locationID}}/">{{ detail.name }}</a></td>
                        </tr>

            {% endif %}
            {% if detail.groupName and detail.groupName != "#System" %}
                        <tr>   
                                <th>Class:</th>
                                <td itemprop="class"><a href="/group/{{ detail.groupID }}/">{{ detail.groupName }}</a></td>
                        </tr>
            {% endif %}
            {% if detail.solarSystemName %}
			<tr>
				<th>System:</th>
				<td itemprop="systemname"><a href='/system/{{ detail.solarSystemID }}/' class="{% if field.solarSystemID >= 32000000 and field.solarSystemID  < 33000000 %}triglavian{% endif %}">{{ detail.solarSystemName }}</a> (<font color="{{ detail.systemColorCode}}">{{ detail.solarSystemSecurity|number_format(1) }}</font>)</td>
			</tr>
            {% endif %}
			{% if detail.systemClass %}
			<tr>
				<th>Class:</th>
				<td itemprop="systemclass">{{ detail.systemClass }}</td>
			</tr>
			{% endif %}
			{% if detail.systemEffect %}
			<tr>
				<th>Effect:</th>
				<td itemprop="effect">{{ detail.systemEffect }}</td>
			</tr>
			{% endif %}
            {% if detail.constellationName %}
			<tr>
				<th>Constellation:</th>
				<td itemprop="constellation"><a href="/constellation/{{detail.constellationID}}/">{{ detail.constellationName }}</a></td>
			</tr>
            {% endif %}
            {% if detail.regionName %}
			<tr>
				<th>Region:</th>
				<td itemprop="region"><a href="/region/{{detail.regionID}}/" class="{% if detail.regionID >= 12000001 and detail.regionID < 13000000 %}triglavian{% endif %}">{{ detail.regionName }}</a></td>
			</tr>
            {% endif %}
	    	{% if detail.memberCount is defined and detail.memberCount >= 0 %}
			<tr>
				<th>Members:</th>
				<td itemprop="members">{% if detail.memberCount == 0 %}(Closed){% else %}{{ detail.memberCount | number_format(0) }}{% endif %}</td>
			</tr>
            {% endif %}
                {% if statistics.trophies.levels %}
			<tr>
				<th>Trophies:</th>
				<td itemprop="trophies"><a href='/character/{{ detail.characterID }}/trophies/'>{{ statistics.trophies.levels }} / {{statistics.trophies.max}} <img src='https://zkillboard.com/img/level/level{{ (statistics.trophies.levels / 100)|round(0,"floor")|number_format(0) }}.gif'/></a></td>
			</tr>
                {% endif %}
		</tbody>
        </table>
		{% endif %}
	</div>
	</td></tr></table>
	</div>
	<div class="col-lg-6 pull-right" style='padding: 0px; margin: 0px;'>
		{% include 'components/stats_box.html' %}
	</div>
</div>
