<html>
<head>
<script>
  function copyToClipboard() {
    const text = document.getElementById('textarea').value;
    console.log('Attempting to copy to clipboard:', text);
    navigator.clipboard.writeText(text).then(() => {
        document.getElementById('copied').style.display = 'block';
    });
  } 
</script>
</head>
<body>
<textarea id='textarea' onClick="this.select(); copyToClipboard(); return true;" rows="3" style='width: 100%;'><url=killReport:{{ crest.killID }}:{{ crest.hash }}>Kill: {{ killdata.victim.characterName }}'s {{ killdata.victim.shipName }}</url></textarea>
<div id='copied' style='display: none; color: white;'><i>... Link has been copied to your clipboard ...</i></div>
</body>
</html>
