.float-start.col-lg-4
  .text-center
    h5= $fieldset['title'] ?? ''
  table.table.table-sm.topBoxes(style="padding: 0px; margin: 0px; width: 100%;")
    tr
      th(scope="col" style="width: 42px;")
        span.visually-hidden Character portrait
      th(scope="col") Character
      th.text-end(scope="col" style="width: 100px;") Kills
    each $field in ($fieldset['data'] ?? [])
      tr
        td
          - $characterID = $field['characterID'] ?? 0;
          - $imageSize = 64;
          - $resizeImage = 40;
          include image_char.pug
          - unset($resizeImage);
        td
          if ($characterID > 0)
            a.wrapplease(href=('/character/' . $characterID . '/'))= $field['characterName'] ?? ''
          else
            = $field['characterName'] ?? ''
          br
          = $field['shipName'] ?? ''
        td.text-end= number_format((float) ($field['kills'] ?? 0), 0)
        td= $field['title'] ?? ''
