.float-start.col-lg-4
  .text-center
    h5= $fieldset['title'] ?? ''
  table.table.table-sm.topBoxes(style="padding: 0px; margin: 0px; width: 100%;")
    tr
      th(style="width: 42px;") &nbsp;
      th Character
      th.text-end(style="width: 100px;") Kills
    each $field in ($fieldset['data'] ?? [])
      tr
        td
          - $characterID = $field['characterID'] ?? 0;
          if ($characterID == 0)
            img.eveimage.img-rounded(src=(($image_character ?? 'https://images.evetech.net/characters/') . '1/portrait?size=64') style="height: 40px; width: 40px;" loading="lazy" decoding="async" fetchpriority="low")
          else
            a(href=('/character/' . $characterID . '/') rel="tooltip" title=($field['characterName'] ?? ''))
              img.eveimage.img-rounded(src=(($image_character ?? 'https://images.evetech.net/characters/') . $characterID . '/portrait?size=64') style="height: 40px; width: 40px;" alt=($field['characterName'] ?? '') loading="lazy" decoding="async" fetchpriority="low")
        td
          if ($characterID > 0)
            a.wrapplease(href=('/character/' . $characterID . '/'))= $field['characterName'] ?? ''
          else
            = $field['characterName'] ?? ''
          br
          = $field['shipName'] ?? ''
        td.text-end= number_format((float) ($field['kills'] ?? 0), 0)
        td= $field['title'] ?? ''
