- $extraData = is_object($extra ?? null) ? (array) $extra : ($extra ?? []);
- $killData = is_object($killdata ?? null) ? (array) $killdata : ($killdata ?? []);
- $victim = is_object($killData['victim'] ?? null) ? (array) $killData['victim'] : ($killData['victim'] ?? []);
- $priceTitle = function ($prices) { $prices = is_object($prices ?? null) ? (array) $prices : ($prices ?? []); return '$' . number_format((float) ($prices['usd'] ?? 0), 2, '.', ',') . ' / ' . number_format((float) ($prices['eur'] ?? 0), 2, '.', ',') . ' euro / GBP ' . number_format((float) ($prices['gbp'] ?? 0), 2, '.', ','); };
br
.centered.publift.adrow.ad-xl-none#detailadrow(data-fuse="home_incontent")
#itemsTable
  .d-flex.align-items-center.justify-content-between.flex-wrap.gap-2.mb-2
    h3.m-0 Item(s)
    .d-flex.align-items-center.gap-3.small
      label.d-flex.align-items-center.gap-1.mb-0.item_dropped(for="itemsDropped" title="Dropped" style="cursor: pointer;")
        input#itemsDropped(type="checkbox" checked)
        span(aria-hidden="true")
          i.fas.fa-check
      span#itemsDestroyedSpan
        label.d-flex.align-items-center.gap-1.mb-0.item_destroyed(for="itemsDestroyed" title="Destroyed" style="cursor: pointer;")
          input#itemsDestroyed(type="checkbox" checked)
          span(aria-hidden="true")
            i.fas.fa-times
  table#itemTable.table.table-sm.item_list.item-table(data-paging="false" data-dom="lrt")
    thead
      tr.titles
        th(scope="col" style="width: 40px;")
          button.btn.btn-sm.m-0.p-0(type="button" data-zkb-sort-column="0" data-zkb-sort-hide="false" aria-label="Sort by item icon")
            i.fas.fa-sort(aria-hidden="true")
        th(scope="col")
          button.btn.btn-sm.m-0.p-0(type="button" data-zkb-sort-column="1" data-zkb-sort-hide="true")
            | Item Name 
            i.fas.fa-sort(aria-hidden="true")
        th(scope="col" style="width: 85px;")
          .text-end
            button.btn.btn-sm.m-0.p-0(type="button" data-zkb-sort-column="2" data-zkb-sort-hide="true")
              | Qty 
              i.fas.fa-sort(aria-hidden="true")
        th(scope="col" style="width: 110px;")
          .text-end
            button.btn.btn-sm.m-0.p-0(type="button" data-zkb-sort-column="3" data-zkb-sort-hide="true")
              | Value 
              i.fas.fa-sort(aria-hidden="true")
    tbody
      - $items = $extraData['items'] ?? [];
      each $flagName, $flag in ($flags ?? [])
        include flag_list.pug
      tr.hide-when-sorted
        td(data-order=$i() colspan="4")
          h5 Ship
        td.d-none
        td.d-none
        td.d-none
      - $imageSize = 32;
      - unset($resizeImage);
      tr.item_row
        - $field = $victim;
        td.icons(data-order=$i())
          .text-center
            include image_ship.pug
        td(data-order=($victim['shipName'] ?? ''))
          a(href=('/item/' . ($victim['shipTypeID'] ?? 0) . '/'))= $victim['shipName'] ?? ''
        td(data-order="1")
          .item_destroyed.qty.text-end
            | 1 
            i.fas.fa-times(aria-hidden="true" style="color: inherit;")
        td.price.item_destroyed(data-order=($extraData['shipprice'] ?? 0))
          .text-end(format="format-dec2-once" raw=($extraData['shipprice'] ?? 0))= number_format((float) ($extraData['shipprice'] ?? 0), 2, '.', ',')
      tr.item_dropped_row.hide-when-sorted
        td(data-order=$i() colspan="2")
          h5 Total Dropped:
        td.text-end(colspan="2")
          .float-end.w-100
            h5.item_dropped(rel="tooltip" title=$priceTitle($extraData['droppedprice'] ?? []) format="format-dec2-once" raw=($extraData['droppedisk'] ?? 0))= number_format((float) ($extraData['droppedisk'] ?? 0), 2, '.', ',')
        td.d-none
        td.d-none
      tr.hide-when-sorted
        td(data-order=$i() colspan="2")
          h5 Total Destroyed:
        td.text-end(colspan="2")
          .float-end.w-100
            h5.item_destroyed(rel="tooltip" title=$priceTitle($extraData['destroyedprice'] ?? []) format="format-dec2-once" raw=($extraData['destroyedisk'] ?? 0))= number_format((float) ($extraData['destroyedisk'] ?? 0), 2, '.', ',')
        td.d-none
        td.d-none
      tr.hide-when-sorted
        td(data-order=$i() colspan="2")
          h5 Grand Total:
        td.totalprice.text-end(colspan="2")
          .float-end.w-100
            h5(rel="tooltip" title=$priceTitle($extraData['totalprice'] ?? []) format="format-dec2-once" raw=($extraData['totalisk'] ?? 0))= number_format((float) ($extraData['totalisk'] ?? 0), 2, '.', ',')
        td.d-none
        td.d-none
if (($extraData['insurance']['Basic']['payout'] ?? 0) > 0)
  .col-lg-4
    h4
      | Insurance 
      small Possible payouts
    table.table.table-codensed.text-end
      tr
        th.text-end(scope="col") Type
        th.text-end(scope="col") Cost
        th.text-end(scope="col") Payout
      each $insuranceType in ['None', 'Basic', 'Standard', 'Bronze', 'Silver', 'Gold', 'Platinum']
        - $insurance = $extraData['insurance'][$insuranceType] ?? ['cost' => 0, 'payout' => 0];
        tr
          td= $insuranceType
          td(format="format-dec2-once" raw=($insurance['cost'] ?? 0))= number_format((float) ($insurance['cost'] ?? 0), 2)
          td(format="format-dec2-once" raw=($insurance['payout'] ?? 0))= number_format((float) ($insurance['payout'] ?? 0), 2)
  .d-none.d-lg-block.col-lg-2 &nbsp;
