<br/>
<div class="centered publift adrow ad-xl-none" fuse="home_incontent" id="detailadrow" style='padding-top: 1em;'></div>
<h3>Item(s) <small>Dropped / Destroyed</small></h3>
<table class="table table-condensed item_list item-table">
	<thead>
	<tr class="titles">
		<th class="hidden-xs">&nbsp;</th>
		<th>Item Type</th>
		<th onClick='hideSortStuff(true);'><div align="right"><b class='glyphicon glyphicon-sort'></b> Quantity</div></th>
		<th onClick='hideSortStuff(true);'><div align="right"><b class='glyphicon glyphicon-sort'></b> Price (ISK)</div></th>
	</tr>
	</thead>
	<tbody>
	{% set items = extra.items %}
	{% for flag, flagName in flags %}
		{% include 'components/flag_list.html' %}
	{% endfor %}
	<tr class="hide-when-sorted">
		<td colspan="4"><h5>Ship</h5></td>
		<td class="hidden"></td>
		<td class="hidden"></td>
		<td class="hidden"></td>
	</tr>
	{% set imageSize = 32 %}
	<tr>
	{% set field = killdata.victim %}
		<td class="icons hidden-xs"><div align="center">{% include 'components/image_ship.html' %}</div></td>
		<td><a href="/item/{{killdata.victim.shipTypeID}}/">{{killdata.victim.shipName}}</a></td>
		<td><div align="right" class="qty">1</div></td>
		<td class="price"><div align="right">{{ extra.shipprice|number_format(2, '.', ',') }}</div></td>
	</tr>
	<tr class="item_dropped_row hide-when-sorted">
		<td colspan="2"><h5>Total Dropped:</h5></td>
		<td colspan="2" style="text-align: right;"><div class="pull-right" style="width: 100%;"><h5 class="item_dropped" rel="tooltip" title="&#36;{{ extra.droppedprice.usd|number_format(2, '.', ',') }} / {{ extra.droppedprice.eur|number_format(2, '.', ',') }}&euro; / &pound;{{ extra.droppedprice.gbp|number_format(2, '.', ',') }}">{{ extra.droppedisk|number_format(2, '.', ',')}}</h5></div></td>
<td class="hidden"></td>
<td class="hidden"></td>
	</tr>
	<tr class="hide-when-sorted">
		<td colspan="2"><h5>Total Destroyed:</h5></td>
		<td colspan="2" style="text-align: right;"><div class="pull-right" style="width: 100%;"><h5 class="item_destroyed" rel="tooltip" title="&#36;{{ extra.destroyedprice.usd|number_format(2, '.', ',') }} / {{ extra.destroyedprice.eur|number_format(2, '.', ',') }}&euro; / &pound;{{ extra.destroyedprice.gbp|number_format(2, '.', ',') }}">{{ extra.lostisk|number_format(2, '.', ',')}}</h5></div></td>
<td class="hidden"></td>
<td class="hidden"></td>
	</tr>
	<tr class="hide-when-sorted">
		<td colspan="2"><h5>Grand Total:</h5></td>
		<td colspan="2" style="text-align: right;" class="totalprice"><div class="pull-right" style="width: 100%;"><h5 rel="tooltip" title="&#36;{{ extra.totalprice.usd|number_format(2, '.', ',') }} / {{ extra.totalprice.eur|number_format(2, '.', ',') }}&euro; / &pound;{{ extra.totalprice.gbp|number_format(2, '.', ',') }}">{{ (extra.lostisk + extra.droppedisk)|number_format(2, '.', ',')}}</h5></div></td>
<td class="hidden"></td>
<td class="hidden"></td>
	</tr>
	</tbody>
</table>

<div class="alert alert-info">Prices look wrong? That's because they probably are!  In November, 2022, a critical market API endpoint was disabled temporarily by CCP.  It has yet to be re-enabled.  The available market endpoints provide data that is not equivalent to what you might expect to see in the game and this reflects on killmail values.<br/>
If/when the endpoint comes back and I am able to populate proper price data, I will do a recalculation on ALL killmail prices from November, 2022 onward. -- Squizz
</div>

{% if extra.insurance.Basic.payout > 0 %}
<div class="col-lg-4">
<h4>Insurance <small>Possible payouts</small></h4>
<table class="table table-condensed" style="text-align: right">
    <tr><th style="text-align: right">Type</th><th style="text-align: right">Cost</th><th style="text-align: right">Payout</th></tr>
    <tr><td>None</td><td>{{ extra.insurance.None.cost|number_format(2) }}</td><td>{{ extra.insurance.None.payout|number_format(2) }}</td></tr>
    <tr><td>Basic</td><td>{{ extra.insurance.Basic.cost|number_format(2) }}</td><td>{{ extra.insurance.Basic.payout|number_format(2) }}</td></tr>
    <tr><td>Standard</td><td>{{ extra.insurance.Standard.cost|number_format(2) }}</td><td>{{ extra.insurance.Standard.payout|number_format(2) }}</td></tr>
    <tr><td>Bronze</td><td>{{ extra.insurance.Bronze.cost|number_format(2) }}</td><td>{{ extra.insurance.Bronze.payout|number_format(2) }}</td></tr>
    <tr><td>Silver</td><td>{{ extra.insurance.Silver.cost|number_format(2) }}</td><td>{{ extra.insurance.Silver.payout|number_format(2) }}</td></tr>
    <tr><td>Gold</td><td>{{ extra.insurance.Gold.cost|number_format(2) }}</td><td>{{ extra.insurance.Gold.payout|number_format(2) }}</td></tr>
    <tr><td>Platinum</td><td>{{ extra.insurance.Platinum.cost|number_format(2) }}</td><td>{{ extra.insurance.Platinum.payout|number_format(2) }}</td></tr>
</table>
</div>
{% endif %}
