{% set txtLength = 60 %}
{% include 'components/pager.html' %}
<h3 class="pull-left">{{ killListTitle }}</h3>
{% set CurrentYear = '' %}
{% set CurrentMonth = '' %}
{% set CurrentDay = ''%}
<div class="clearfix"></div>
<table class="table table-condensed table-striped table-hover" style="margin-bottom: 0px;" id="killlist">
  <thead>
    <tr>
      <th>Time</th>
      <th class="" style="width: 50px; max-width: 50px; text-align: center;">Ship</th>
      <th class="" style="width:115px; max-width: 115px;" class="location">Location</th>
      <th class="hidden-xs" style="width: 64px;">&nbsp;</th>
      <th class="" style="max-width: 38%;">Victim</th>
      <th class="finalBlowColumn hidden-xs" style="width: 64px; max-width: 64px;" class="finalBlowColumn">&nbsp;</th>
      <th class="finalBlowColumn hidden-xs" class="finalBlowColumn">Final Blow</th>
    </tr>
  </thead>
  <tbody id='killmailstobdy'>
    {% if killList|length == 0 %}
      <tr><td colspan='7'><i>loading</i></td></tr>
    {% else %}
        {% include 'components/kill_list_row_small.html' %}
    {% endif %}
  </tbody>
</table>
{% include 'components/pager.html' %}
