{% if sessionusername %}
<script type="text/javascript">

characterID = {{ characterID }};
$(".forloggedin").removeClass('d-none d-sm-none');
$(".forloggedout").addClass('d-none');
$("#nousermenu").addClass("d-none");
$("#usermenu").removeClass("d-none");
$("#contest-logged-in").removeClass('d-none');
$("#loginforapi").remove();
$("#username").text("{{ sessionusername }}");
$("#char-image").attr("src", "{{ image_character }}{{ characterID }}/portrait?size=256");
console.log("{{ image_character }}{{ characterID }}/portrait?size=256");

try {
$(".char-image").attr("src", "{{ image_character }}{{ characterID }}/portrait?size=128").on('click', function() { window.location = '/character/{{ characterID }}/'; });
$(".corp-image").attr("src", "{{ image_corporation }}{{ corporationID }}/logo?size=64").on('click', function() { window.location = '/corporation/{{ corporationID }}/'; });
{% if allianceID > 0 %}
$(".alli-image").attr("src", "{{ image_alliance }}{{ allianceID }}/logo?size=64").on('click', function() { window.location = '/alliance/{{ allianceID }}/'; });
{% else %}
$(".alli-image").remove();
{% endif %}
} catch (e) { }

$('.clickimage').css('cursor', 'pointer');

showAds = {{ showAds }};
{% if showAds != 0 %}

$.getScript("https://cdn.fuseplatform.net/publift/tags/2/2136/fuse.js").done(loadads).fail(showAdblockedMessage);

{% else %}
    $('img[src="/n5dev.png"').remove();
    startWebSocket();
    gtag('event', 'patron');
    $("#messagedad").remove();

{% endif %}
gtag('event', 'navbar_loaded');

{% if style != 'cyborg' %}
$("#mainstyle").attr("href", "https://netdna.bootstrapcdn.com/bootswatch/latest/{{ style }}/bootstrap.min.css");
$("#nextstyle").attr("href", "/css/style-edits/{{ style }}-main.css");
$(".zkblogo").hide();
{% endif %}

$("#menu-favorites").removeClass('d-none');
var showAdd = true;
var tn = ('true' == '{{ trackernotification }}'); // TN = TrackerNotification
{% for data in tracker_character %}
showAdd = showAdder(showAdd, 'character', {{data.id}}, tn);
{% endfor %}
$("#tracker-remove-character-{{ characterID }}").remove();
{% for data in tracker_corporation %}
{% if data.id > 1999999 %}
showAdd = showAdder(showAdd, 'corporation', {{data.id}}, tn);
{% endif %}
{% endfor %}
$("#tracker-remove-corporation-{{ corporationID }}").remove();
{% for data in tracker_alliance %}
showAdd = showAdder(showAdd, 'alliance', {{data.id}}, tn);
{% endfor %}

{% if allianceID > 0 %}$("#tracker-remove-alliance-{{ allianceID }}").remove();{% endif %}

{% for data in tracker_faction %}
showAdd = showAdder(showAdd, 'faction', {{data.id}}, tn);
{% endfor %}
{% for data in tracker_ship %}
showAdd = showAdder(showAdd, 'ship', {{data.id}}, tn);
{% endfor %}
{% for data in tracker_group %}
showAdd = showAdder(showAdd, 'group', {{data.id}}, tn);
{% endfor %}
{% for data in tracker_system %}
showAdd = showAdder(showAdd, 'system', {{data.id}}, tn);
{% endfor %}
{% for data in tracker_constellation %}
showAdd = showAdder(showAdd, 'constellation', {{data.id}}, tn);
{% endfor %}
{% for data in tracker_region %}
showAdd = showAdder(showAdd, 'region', {{data.id}}, tn);
{% endfor %}

{% for killID in favorites %}
$(".fav-star-" + {{ killID }}).css("color", "#FDBC2C");
{% endfor %}

if (showAdd) $("#tracker-add").removeClass("d-none");

console.log("nav loaded");
</script>
{% if tracker_character %}
<li><h6 class="dropdown-header">Characters</h6></li>
{% for data in tracker_character %}
<li><a class="dropdown-item" href="/character/{{ data.id }}/">{{ data.name }}</a></li>
{% endfor %}
{% endif %}

{% if tracker_corporation %}
<li><h6 class="dropdown-header">Corporations</h6></li>
{% for data in tracker_corporation %}
<li><a class="dropdown-item" href="/corporation/{{ data.id }}/">{{ data.name }}</a></li>
{% endfor %}
{% endif %}

{% if tracker_alliance %}
<li><h6 class="dropdown-header">Alliances</h6></li>
{% for data in tracker_alliance %}
<li><a class="dropdown-item" href="/alliance/{{ data.id }}/">{{ data.name }}</a></li>
{% endfor %}
{% endif %}

{% if tracker_faction %}
<li><h6 class="dropdown-header">Factions</h6></li>
{% for data in tracker_faction %}
<li><a class="dropdown-item" href="/faction/{{ data.id }}/">{{ data.name }}</a></li>
{% endfor %}

{% endif %}

{% if tracker_ship %}
<li><h6 class="dropdown-header">Ships</h6></li>
{% for data in tracker_ship %}
<li><a class="dropdown-item" href="/ship/{{ data.id }}/">{{ data.name }}</a></li>
{% endfor %}
{% endif %}

{% if tracker_group %}
<li><h6 class="dropdown-header">Groups</h6></li>
{% for data in tracker_group %}
<li><a class="dropdown-item" href="/group/{{ data.id }}/">{{ data.name }}</a></li>
{% endfor %}
{% endif %}

{% if tracker_system %}
<li><h6 class="dropdown-header">Systems</h6></li>
{% for data in tracker_system %}
<li><a class="dropdown-item" href="/system/{{ data.id }}/">{{ data.name }}</a></li>
{% endfor %}
{% endif %}

{% if tracker_constellation %}
<li><h6 class="dropdown-header">Constellations</h6></li>
{% for data in tracker_constellation %}
<li><a class="dropdown-item" href="/constellation/{{ data.id }}/">{{ data.name }}</a></li>
{% endfor %}
{% endif %}

{% if tracker_region %}
<li><h6 class="dropdown-header">Regions</h6></li>
{% for data in tracker_region %}
<li><a class="dropdown-item" href="/region/{{ data.id }}/">{{ data.name }}</a></li>
{% endfor %}
{% endif %}

<li><hr class="dropdown-divider"></li>
<li><h6 class="dropdown-header">* Cannot be removed.</h6></li>

{% else %}

<script type="text/javascript">
characterID = 0;
$(".forloggedout").removeClass('d-none');
$(".forloggedin").addClass('d-none d-sm-none');
$("#tracker-none").removeClass("d-none");
$("#savefit").remove();
$("#nosavefit").removeClass("d-none");
$("#char-image").attr("src", "{{ image_character }}1/portrait?size=32");
$("#loginforapi").show();

$.getScript("https://cdn.fuseplatform.net/publift/tags/2/2136/fuse.js").done(loadads).fail(showAdblockedMessage);

$("#loginsideimage").removeClass("collapse").css("display", "block");
gtag('event', 'navbar_loaded');



</script>
<li>Please log in first.</li>

{% endif %}
