{% if sessionusername %}
<script type="text/javascript">
$("#char-loggedout").remove();
$("#loginforapi").remove();
$("#username").text("{{ sessionusername }}");
$("#char-image").attr("src", "{{ image_character }}{{ characterID }}/portrait?size=32");

{% if showAds != 0 %}
    $("#adsensetop").load('/cache/1hour/google/', function() { setTimeout('adBlockCheck();', 5000); });
    $("#adsensebottom").load('/cache/1hour/google/');
{% else %}
//    $("#adsensetop, #adsensebottom").html('<a target="_new" href="https://brave.com/zki349"><img src="//zkillboard.com/img/brave_switch.png" alt="Switch to the Brave Browser"></a>');
{% endif %}

{% if style != 'cyborg' %}
$("#mainstyle").attr("href", "https://netdna.bootstrapcdn.com/bootswatch/latest/{{ style }}/bootstrap.min.css");
$("#nextstyle").attr("href", "/css/style-edits/{{ style }}-main.css");
$(".zkblogo").hide();
{% endif %}

var showAdd = true;
{% for data in tracker_character %}
showAdd = showAdd && ($("#tracker-remove-character-{{data.id}}").removeClass("hidden").length == 0);
{% endfor %}
{% for data in tracker_corporation %}
showAdd = showAdd && ($("#tracker-remove-corporation-{{data.id}}").removeClass("hidden").length == 0);
{% endfor %}
{% for data in tracker_alliance %}
showAdd = showAdd && ($("#tracker-remove-alliance-{{data.id}}").removeClass("hidden").length == 0);
{% endfor %}

{% for killID in favorites %}
$(".fav-star-" + {{ killID }}).css("color", "#FDBC2C");
{% endfor %}

if (showAdd) $("#tracker-add").removeClass("hidden");

console.log("nav loaded");
</script>
{% if tracker_character %}
<li class="dropdown-header">Characters</li>
{% for data in tracker_character %}
<li><a href="/character/{{ data.id }}/">{{ data.name }}</a></li>
{% endfor %}
{% endif %}
{% if tracker_corporation %}
<li class="dropdown-header">Corporations</li>
{% for data in tracker_corporation %}
<li><a href="/corporation/{{ data.id }}/">{{ data.name }}</a></li>
{% endfor %}
{% endif %}
{% if tracker_alliance %}
<li class="dropdown-header">Alliances</li>
{% for data in tracker_alliance %}
<li><a href="/alliance/{{ data.id }}/">{{ data.name }}</a></li>
{% endfor %}
{% endif %}
{% if tracker_faction %}
<li class="dropdown-header">Factions</li>
{% for data in tracker_faction %}
<li><a href="/faction/{{ data.id }}/">{{ data.name }}</a></li>
{% endfor %}

{% endif %}

{% else %}

<script type="text/javascript">
$("#char-loggedin").remove();
$("#lasthour").text("{{ killsLastHour | number_format(0)}}");
$("#tqStatus").html("{% if tqStatus == 'OFFLINE'%}<span class='red'>TQ {{ tqCount }}</span>{% else %} <span class='green'>TQ {{ tqCount }}</span>{% endif %}");
$("#tracker-none").removeClass("hidden");
$("#savefit").remove();
$("#nosavefit").removeClass("hidden");
$("#char-image").attr("src", "{{ image_character }}1/portrait?size=32");

$(document).ready(function() {
    var date = new Date();
    var foo = 'zkbLoginMsg' + date.getUTCFullYear() + '' + (date.getUTCMonth() + 1) + '' + date.getUTCDate();
    if ($(window).width() > 800 && localStorage) {
        if (!localStorage.getItem(foo)) {
            addToolTip($("#usermenu"), "<a href='#' onClick='$(\"#ssologinimage\").click(); return false'>Login</a> to retrieve your character's recent killmail history.");
            localStorage.setItem(foo, true);
        }
    }
});


</script>
<li>Please log in first.</li>

{% endif %}
