{% if pageType == "kills" or pageType == "overview" or pageType == "solo" or pageType=="losses" or pageType == "subdomain" %}
	{% set pageBase = requestUriPager %}
{% elseif pageType == "index" %}
	{% set pageBase = "/kills/" %}
{% else %}
	{% set pageBase = requesturi %}
{% endif %}
{% set pageBase = (pageBase == '' ? '/' : pageBase) %}

{% if showPager != "false" %}
<div class="float-end d-flex align-items-center gap-2">
	{% if datepicker == true %}
	<div><input type="text" name="datepicker" class="datepicker" value="{{ month }}/{{ year }}"></div>
	{% endif %}
	<ul class="pagination pagination-sm mb-0">
		{% if pager == true %}
			{% if page == 2 %}
				<li class="page-item pagination-li-1"><a class="page-link" href="{{ pageBase }}" rel="nofollow prev">&laquo;</a></li>
			{% elseif page > 2 %}
				<li class="page-item pagination-li-{{ page - 1 }}"><a class="page-link" href="{{ pageBase }}page/{{ page - 1 }}/" rel="nofollow prev">&laquo;</a></li>
			{% endif %}
	
			{% set startIndex = page - 3 %}
			{% set endIndex = min(100, page + 3) %}
	
			{% for pageIndex in startIndex..endIndex %}
				{% if pageIndex == 1 %}
					<li class="page-item pagination-li-{{ pageIndex }} {{ isActive(pageIndex, page, 'active') }}"><a class="page-link" href="{{ pageBase }}" rel="nofollow">{{ pageIndex }}</a></li>
				{% elseif pageIndex > 1 %}
					<li class="page-item pagination-li-{{ pageIndex }} {{ isActive(pageIndex, page, 'active') }}"><a class="page-link" href="{{ pageBase }}page/{{pageIndex}}/" rel="nofollow">{{ pageIndex }}</a></li>
				{% endif %}
			{% endfor %}
            {% if page < 100 %}
			<li class="page-item pagination-li-{{ page + 1 }}"><a class="page-link" href="{{ pageBase }}page/{{ page + 1 }}/" rel="nofollow next">&raquo;</a></li>
            {% endif %}
		{% endif %}
	</ul>
</div>
{% endif %}
