<h3>{{ rankTable.name }}</h3>
<table class="table table-condensed table-striped table-hover rank-table table-bordered" id="rank_table_{{rankTable.name}}">
	<thead>
		<tr>
			<th rowspan="2" style="vertical-align: bottom;">{{ tableTitle }}</th>
			<th>&nbsp;</th>
			<th colspan="5" style="text-align: center">Ships</th>
			<th colspan="5" style="text-align: center">Points</th>
			<th colspan="5" style="text-align: center">ISK</th>
		</tr>
		<tr>
			<th style="text-align: left">{{ rankTable.type|capitalize }}</td>
			<th>Destroyed</th>
			<th>Rank</th>
			<th>Lost</th>
			<th>Rank</th>
			<th>Eff. %</th>
			<th>Destroyed</th>
			<th>Rank</th>
			<th>Lost</th>
			<th>Rank</th>
			<th>Eff. %</th>
			<th>Destroyed</th>
			<th>Rank</th>
			<th>Lost</th>
			<th>Rank</th>
			<th>Eff. %</th>
		</tr>
	</thead>
	<tbody>
	{% for row in rankTable.data %}
	{% set field = row %}
		<tr>
			<td style="width: 35px;"><strong>{{ row.overallRank | number_format(0) }}</strong></td>
			<td style="text-align: left">
				{% if rankTable.type == "alli" %}{% include 'components/text_alli.html' %}
				{% elseif rankTable.type == "corp" %}{% include 'components/text_corp.html' %}
				{% elseif rankTable.type == "character" %}{% include 'components/text_char.html' %}
				{% elseif rankTable.type == "weapon" %}{% include 'components/text_item.html' %}
				{% elseif rankTable.type == "ship" %}{% include 'components/text_ship.html' %}
				{% elseif rankTable.type == "group" %}{% include 'components/text_shipclass.html' %}
				{% elseif rankTable.type == "faction" %}{% include 'components/text_faction.html' %}
				{% elseif rankTable.type == "system" %}{% include 'components/text_system.html' %}
				{% elseif rankTable.type == "region" %}{% include 'components/text_region.html' %}
				{% else %} {{ rankTable.type }}
				{% endif %}
			</td>
			<td class="green">{{ shortNum(row.shipsDestroyed) }}</td>
			<td class="green">{{ row.sdRank | number_format(0) }}</td>
			<td class="red">{{ shortNum(row.shipsLost) }}</td>
			<td class="red">{{ row.slRank | number_format(0) }}</td>
			{% set color = (row.shipEff >= 50 ? 'green' : 'red') %}
			<td class="{{color}}">{{ row.shipEff | number_format(1) }}</td>
			<td class="green">{{ shortNum(row.pointsDestroyed) }}</td>
			<td class="green">{{ row.pdRank | number_format(0) }}</td>
			<td class="red">{{ shortNum(row.pointsLost) }}</td>
			<td class="red">{{ row.plRank | number_format(0) }}</td>
			{% set color = (row.pointsEff >= 50 ? 'green' : 'red') %}
			<td class="{{color}}">{{ row.pointsEff | number_format(1) }}
			<td class="green">{{ shortNum(row.iskDestroyed) }}</td>
			<td class="green">{{ row.idRank | number_format(0) }}</td>
			<td class="red">{{ shortNum(row.iskLost) }}</td>
			<td class="red">{{ row.ilRank | number_format(0) }}</td>
			{% set color = (row.iskEff >= 50 ? 'green' : 'red') %}
			<td class="{{color}}">{{ row.iskEff | number_format(1) }}
		</tr>
	{% endfor %}
	</tbody>
</table>
