{% if statistics.shipsDestroyed or statistics.shipsLost %}
{% set shipEff = (statistics.shipsDestroyed + statistics.shipsLost) == 0 ? 100 : (statistics.shipsDestroyed / (statistics.shipsDestroyed + statistics.shipsLost)) * 100 %}
{% set pointsEff = (statistics.pointsDestroyed + statistics.pointsLost) == 0 ? 100 : (statistics.pointsDestroyed / (statistics.pointsDestroyed + statistics.pointsLost)) * 100 %}
{% set iskEff = (statistics.iskDestroyed + statistics.iskLost) == 0 ? 100 : (statistics.iskDestroyed / (statistics.iskDestroyed + statistics.iskLost)) * 100 %}
<table style="margin: 0px; padding: 0px; background-color: transparent;" class="table table-condensed">
	<tbody>
	<tr>
		<th>&nbsp;</th>
		<th style="text-align: right">Destroyed</th>
		<th style="text-align: right" class="hidden-xs">Rank</th>
		<th style="text-align: right">Lost</th>
		<th style="text-align: right" class="hidden-xs">Rank</th>
		<th style="text-align: right; white-space:nowrap;" class="hidden-xs">Eff. %</th>
		<th style="text-align: right; white-space:nowrap;" class="table-no-hover"><div class="hidden-xs">Alltime Rank</div><div class="visible-xs">Alltime</div></th>
	</tr>
	<tr>
		<th style="text-align: right">Ships</th>
		<td class="green" style="text-align: right" class="green-text">{{ statistics.shipsDestroyed | number_format(0) }}</td>
		<td class="green hidden-xs" style="text-align: right">{{ statistics.shipsDestroyedRank == 0 ? '-' : statistics.shipsDestroyedRank | number_format(0) }}</td>
		<td class="red" style="text-align: right">{{ statistics.shipsLost | number_format(0) }}</td>
		<td class="red hidden-xs" style="text-align: right">{{ statistics.shipsLostRank == 0 ? '-' : statistics.shipsLostRank | number_format(0) }}</td>
		{% set greenred = shipEff >= 50 ? 'green' : 'red' %}
		<td class="{{greenred}} hidden-xs" style="text-align: right">{{ shipEff | number_format(1) }}</td>
		<th style="text-align: right;">
			<strong>{{ statistics.overallRank == 0 ? '-' : statistics.overallRank|number_format(0) }}</strong>
			{% if statistics.overallRank < statistics.prevRanks.overallRank and statistics.overallRank != 0 and statistics.prevRanks.overallRank != 0 %}
				<small><span rel="tooltip" title="Ranked #{{ statistics.prevRanks.overallRank|number_format(0) }} on {{ statistics.prevRanks.date }}" class="glyphicon glyphicon-arrow-up green"></span></small>
			{% elseif statistics.overallRank > statistics.prevRanks.overallRank and statistics.overallRank != 0 and statistics.prevRanks.overallRank != 0 %}
				<small><span rel="tooltip" title="Ranked #{{ statistics.prevRanks.overallRank|number_format(0) }} on {{ statistics.prevRanks.date }}" class="glyphicon glyphicon-arrow-down red"></span></small>
			{% elseif statistics.overallRank != 0 %}
				<small><span rel="tooltip" title="No change in rank..." class="glyphicon glyphicon-minus green"></span></small>
			{% else %}
				<small><span rel="tooltip" class="glyphicon glyphicon-minus"></span></small>
			{% endif %}
			</th>
	</tr>
	<tr>
		<th style="text-align: right">Points</th>
		<td class="green" style="text-align: right">{{ statistics.pointsDestroyed | number_format(0) }}</td>
		<td class="green hidden-xs" style="text-align: right">{{ statistics.pointsDestroyedRank == 0 ? '-' : statistics.pointsDestroyedRank | number_format(0) }}</td>
		<td class="red" style="text-align: right">{{ statistics.pointsLost | number_format(0) }}</td>
		<td class="red hidden-xs" style="text-align: right">{{ statistics.pointsLostRank  == 0 ? '-' : statistics.pointsLostRank | number_format(0) }}</td>
		{% set greenred = pointsEff >= 50 ? 'green' : 'red' %}
		<td class="{{greenred}} hidden-xs" style="text-align: right">{{ pointsEff | number_format(1) }}</td>
		<th style="text-align: right"><div class="hidden-xs">Recent Rank</div><div class="visible-xs">Recent</div></th>
	</tr>
	<tr>
		<th class="" style="text-align: right">ISK</th>
		<td class="green"  style="text-align: right">{{ formatIsk(statistics.iskDestroyed) }}</td>
		<td class="green hidden-xs" style="text-align: right">{{ statistics.iskDestroyedRank == 0 ? '-' : statistics.iskDestroyedRank | number_format(0) }}</td>
		<td class="red" style="text-align: right">{{ formatIsk(statistics.iskLost) }}</td>
		<td class="red hidden-xs" style="text-align: right">{{ statistics.iskLostRank == 0 ? '-' : statistics.iskLostRank | number_format(0) }}</td>
		{% set greenred = iskEff >= 50 ? 'green' : 'red' %}
		<td class="{{greenred}} hidden-xs" style="text-align: right">{{ iskEff | number_format(1) }}</td>
		{% set recentOverallRank = ( statistics.recentOverallRank > 0 ? statistics.recentOverallRank | number_format(0) : '-') %}
        	<th class="" style="text-align: right;">
			<strong>{{ recentOverallRank }}</strong>
                        {% if statistics.recentOverallRank < statistics.prevRanks.recentOverallRank and statistics.recentOverallRank != 0 and statistics.prevRanks.recentOverallRank != 0 %}
                                <small><span rel="tooltip" title="Ranked #{{ statistics.prevRanks.recentOverallRank|number_format(0) }} on {{ statistics.prevRanks.date }}" class="glyphicon glyphicon-arrow-up green"></span></small>
                        {% elseif statistics.recentOverallRank > statistics.prevRanks.recentOverallRank and statistics.recentOverallRank != 0 and statistics.prevRanks.recentOverallRank != 0 %}
                                <small><span rel="tooltip" title="Ranked #{{ statistics.prevRanks.recentOverallRank|number_format(0) }} on {{ statistics.prevRanks.date }}" class="glyphicon glyphicon-arrow-down red"></span></small>
                        {% elseif statistics.recentOverallRank != 0 %}
                                <small><span rel="tooltip" title="No change in rank..." class="glyphicon glyphicon-minus green"></span></small>
                        {% else %}
                                <small><span rel="tooltip" class="glyphicon glyphicon-minus"></span></small>
                        {% endif %}
			</th>
	</tr>
	{% if extra.dangerRatio is defined %}
	<tr>
		<table style='width: 100%; opacity: 0.50;'>
		<tr>
			<td style='width: 50%; padding: 3px;' colspan='2'>
			<div class="progress" style='width: 100%; margin-bottom: 0px;'>
				{% set ratio = extra.dangerRatio %}
				{% set iRatio = 100 - ratio %}
  				<div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="{{ ratio }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ ratio }}%; background-color: #A90707;">{% if ratio > 10%}{{ ratio }}%{% endif %}</div>
  				<div class="progress-bar" role="progressbar" aria-valuenow="{{ iRatio }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ iRatio }}%; background-color: #007800;">{% if iRatio > 10 %}{{ iRatio}}%{% endif %}</div>
			</div>
				<span class='red'>Dangerous</span>
				<span class='pull-right green'>Snuggly</span>
			</td>
			<td style='width: 50%; padding: 3px;' colspan='2'>
                        <div class="progress" style='width: 100%; margin-bottom: 0px;'>
                                {% set ratio = extra.gangFactor %}
                                {% set iRatio = 100 - ratio %}
                                <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="{{ ratio }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ ratio }}%;  background-color: #A90707;">{% if ratio > 10%}{{ ratio }}%{% endif %}</div>
                                <div class="progress-bar" role="progressbar" aria-valuenow="{{ iRatio }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ iRatio }}%; background-color: #007800;">{% if iRatio > 10 %}{{ iRatio}}%{% endif %}</div>
                        </div>
                                <span class='red'>Gangs</span>
                                <span class='pull-right green'> {% if statistics.soloKills %}{{ statistics.soloKills|number_format(0) }} {% endif %}Solo</span>
                        </td>
			</td>
		</tr>
		</table>
	</tr>
	{% endif %}
	</tbody>
</table>
{% endif %}
{% if extra.statsRecalced > 100000 %}
<h6>* Some statistics are being recalculated: <a href='/ztop/'>{{ extra.statsRecalced|number_format(0) }} records remaining</a></h6>
{% endif %}
