{% if showImage %}
	{% set imageSize = 32 %}
	{% include 'components/image_char.html' %}
{% endif %}
{% if field.characterID is not defined and field.ceoID is defined and field.ceoName is defined %}
	<a class="wrapplease" href="/character/{{ field.ceoID }}/">{{ field.ceoName }}</a>
{% elseif field.characterID %}
	<a class="wrapplease" href="/character/{{ field.characterID }}/{{ entitySubpage }}">{{ field.characterName }}</a>
{% elseif field.id and field.name %}
	<a class="wrapplease" href="/character/{{ field.id }}/">{{ field.name }}</a>
{% endif %}
