{% set first = true %}
{% if topSet.values | length %}
<div class="pull-left" style="width: 100%; padding: 0px; margin: 0px;">
  <center><h5>{{ topSet.title }}</h5></center>
  <table class="table table-condensed topBoxes col-lg-2" style="padding: 0px; margin: 0px; width: 100%;">
  {% for data in topSet.values %}
    {% set field = data %}
    {% if first %}
      <tr>
        {% set imageSize = 64 %}
        {% set field = data %}
        {% if topSet.type == 'character' %}
          <td>{% include 'components/image_char.html' %}</td>
        {% elseif topSet.type == 'corporation' %}
          <td>{% include 'components/image_corp.html' %}</td>
        {% elseif topSet.type == 'alliance' %}
          <td>{% include 'components/image_alli.html' %}</td>
        {% elseif topSet.type == 'solarSystem' %}
          <td>{% include 'components/image_system.html' %}</td>
	{% elseif topSet.type == 'shipType' %}
          <td>{% include 'components/image_ship.html' %}</td>
        {% endif %}
      </tr>
      {% set first = false %}
    {% endif %}
    <tr>
        {% if topSet.type == 'character' %}
          <td>{% include 'components/text_char.html' %}</td>
        {% elseif topSet.type == 'corporation' %}
          <td>{% include 'components/text_corp.html' %}</td>
        {% elseif topSet.type == 'alliance' %}
          <td>{% include 'components/text_alli.html' %}</td>
        {% elseif topSet.type == 'solarSystem' %}
          <td>{% include 'components/text_system.html' %}</td>
	{% elseif topSet.type == 'shipType' %}
          <td>{% include 'components/text_ship.html' %}</td>
        {% endif %}
        <td style="text-align: right;">{{ data.kills|number_format(0) }}</td>
    </tr>
  {% endfor %}
</table>
</div>
<div class="clearfix"></div>
{% endif %}
