div
  table#tracked_items.table.table-sm.table-striped.table-hover(style="margin-bottom: 0px; padding-bottom: 0px;")
    each $item in ($trackedItems ?? [])
      tr
        td(colspan="2")
          if (($item['typeID'] ?? 0) == 0)
            .text-center
              strong
                h5
                  = $item['name'] ?? ''
                  if (!empty($item['price']))
                    = ' ' . $shortNum($item['price'])
          else
            .text-center
              strong
                a(href=('/item/' . $item['typeID'] . '/'))
                  = $item['name'] ?? ''
                  if (!empty($item['price']))
                    = ' ' . $shortNum($item['price'])
      tr
        td.green.centered(style="width: 50%;")
          if (!empty($item['dropped']))
            = $shortNum($item['dropped'])
            br
          = $shortNum($item['dV'] ?? 0)
        td.red.centered
          if (!empty($item['destroyed']))
            = $shortNum($item['destroyed'])
            br
          = $shortNum($item['lV'] ?? 0)
  .text-center
    small
      i Last 7 days...
