<div>
<table class="table table-condensed table-striped table-hover" id="tracked_items" style='margin-bottom: 0px; padding-bottom: 0px;'>
{% for item in trackedItems %}
  <tr>
    <td colspan='2'>
      <center><strong><a href='/item/{{ item.typeID }}/' {% if item.typeID == 0 %}onClick='return false;'{% endif %}>{{ item.name }}{% if item.price %} {{ shortNum(item.price) }}{% endif %}</a></strong></center>
    </td>
  </tr>
  <tr>
    <td class='green' style='width: 50%; text-align: right;'>{% if item.dropped %}{{ shortNum(item.dropped) }}<br/>{% endif %}{{ shortNum(item.dV )}}</td>
    <td class='red' style='text-align: right;'>{% if item.destroyed %}{{ shortNum(item.destroyed) }}<br/>{% endif %}{{ shortNum(item.lV) }}</td>
  </tr>
{% endfor %}
</table>
<!-- <center><small>(last 24 hours)</small></center> -->
<center><small><i>Last 7 days...</i></small></center>
</div>
