<div>
{% if extra.trophies %}
   {% set trophies = extra.trophies %}
  <fieldset class='col-lg-4'><legend>Trophies</legend>
    <table class='table table-condensed'>
      <tr><th>Level / Total</th><th>Completed</th><th></th></tr>
      <tr>
        <td>{{ trophies.levelCount }} / {{ trophies.maxLevelCount }}</td>
        <td>{{ trophies.completedPct }}%</td>
	<td><img src='https://zkillboard.com/img/level/level{{ (trophies.levelCount / 100)|round(0,"floor")|number_format(0) }}.gif'/></td>
    </tr>
    </table>
  </fieldset>
  <div class="clearfix"></div>
  {% set count = 0 %}
  {% for category, conditions in extra.trophies.trophies %}
    <fieldset class='col-lg-6'><legend>{{ category }}</legend>
	<table class="table table-condensed table-striped">
	    <tr><th>Trophy</th><th style='width: 175px;'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th><th><span class='pull-right'></span></th></tr>
        {% for condition, value in conditions %}
	    <tr>
            <td style='width: 100%';><span class='{% if value.met > 0%}green{%endif%}'>{{ condition }}</span> {% if value.link %} <a href='{{value.link}}'><span class="glyphicon glyphicon-arrow-right small"></span></a>{% endif %}</td>
            <td><span class='pull-right'>{{ value.value|number_format(0) }}{% if value.level < 5 %} / {{ value.next|number_format(0) }}{% endif %}</span></td>
            <td style='width: 0.5em;'><span class='pull-right'><img style='' src='/img/level/level{{ value.level }}.gif' title='{% if value.noNext %}Hardcoded level (for now){% else %}At: {{ value.value }} {% if value.level < 5 %}Next Level: {{ value.next }} {% endif %}{% endif %}'></span></td>
            </tr>
        {% endfor %}
	</table>
    </fieldset>
    {% set count = count + 1 %}
    {% if count is divisibleby(2) %}<div class="clearfix"></div>{% endif %}
  {% endfor %}
{% endif %}
</div>
