{% set showImage = true %}
{% set field = killdata.victim %}
<div style="padding: 0px; width: 100%; margin: 0px;">
<table class="table table-condensed" style="width: 100%; margin: 0px;">
	<tr>
		<td style="width: 66px; padding: 0px;">
			{% set imageSize = 64 %}
			{% set imageResize = 64 %}
			{% include 'components/image_char.html' %}
		</td>
		<td style="width: 34px; padding: 0px;">
			{% set imageSize = 32 %}
			{% include 'components/image_corp.html' %}<br/>
			{% if field.allianceID != 0 %}
				{% include 'components/image_alli.html' %}
			{% elseif field.factionID != 0 %}
				{% include 'components/image_faction.html' %}
			{% endif %}
		</td>
		<td>
			{% set showImage = false %}
			{% include 'components/text_char.html' %}<br/>
			{% include 'components/text_corp.html' %}<br/>
			{% if field.allianceID != 0 %}
				{% include 'components/text_alli.html' %}<br/>
			{% elseif field.factionID != 0 %}
				{% include 'components/text_faction.html' %}
			{% endif %}
		</td>
	</tr>
</table>
<table class="table table-condensed table-striped table-hover" style="width: 100%; padding: 0px; margin: 0px;">
	{% if killdata.victim.factionName %}
		<tr>
			<th>Faction:</th>
		<td>{% include 'components/text_faction.html' %}</td>
		</tr>
	{% endif %}
	<tr>
		<th>Ship:</th>
		<td style="width: 100%">{% include 'components/text_ship.html' %} <small>( {% include 'components/text_group.html' %} )</small></td>
	</tr>
        {% if killdata.victim.related.killID %}
		{% set shipImageLinkOverride = killdata.victim.related.killID %}
		{% set field = killdata.victim.related %}
	<tr>
		<th>Related:</th>
		<td>{% include 'components/text_ship.html' %}</td>
	</tr>
        {% endif %}
	{% set field = killdata.info.system %}
	<tr>
		<th>System:</th>
		<td>{% include 'components/text_system.html' %} <span>(<span style="color: {{ field.systemColorCode }}">{{ "%1.1f"|format(field.solarSystemSecurity) }}</span>)</span> / {% include 'components/text_region.html' %}</td>
	</tr>
	{% if (killdata.info.location.itemName) %}
        <tr>
        {% if 'au' in extra.locationDistanceType %}
            <th>Closest:</th>
        {% else %}
    		<th>Location:</th>
        {% endif %}
		<td><a href='/location/{{ killdata.info.locationID }}/'>{{ killdata.info.location.itemName }}</a> <span>(<span format="format-dec2-once" raw="{{ extra.locationDistance }}"></span>{{ extra.locationDistanceType }})</span></td>
	</tr>
        {% endif %}
	<tr>
		<th>Time:</th>
        {% set epoch = (1000 * killdata.info.dttm|date('U')) %}
		<td class="info_kill_dttm">{{ killdata.info.dttm|date('Y-m-d H:i') }}<br/><span format="format-date-long" epoch="{{ epoch }}"></span>
        </td>
	</tr>
    {% if killdata.info.zkb.points > 0 %}
	<tr>
		<th>Points:</th>
		<td format="format-int-once" raw="{{ killdata.info.zkb.points }}">{{ killdata.info.zkb.points | number_format(0) }}</td>
	</tr>
    {% endif %}
	<tr>
		<th>Damage:</th>
		<td format="format-int-once" raw="{{ killdata.info.damage }}">{{ killdata.info.damage|number_format(0) }}</td>
	</tr>
    <tr rel="tooltip" title="&#36;{{ extra.destroyedprice.usd|number_format(2, '.', ',') }} / {{ extra.destroyedprice.eur|number_format(2, '.', ',') }}&euro; / &pound;{{ extra.destroyedprice.gbp|number_format(2, '.', ',') }}">
        <th>Destroyed:</th>
        <td class="item_destroyed"><span format="format-dec2-once-i" raw="{{ extra.destroyedisk }}">{{ extra.destroyedisk | number_format(2, '.', ',') }} ISK</span><span style='color: white;'></td>
    </tr>
	<tr rel="tooltip" title="&#36;{{ extra.destroyedpriceWship.usd|number_format(2, '.', ',') }} / {{ extra.destroyedpriceWship.eur|number_format(2, '.', ',') }}&euro; / &pound;{{ extra.destroyedpriceWship.gbp|number_format(2, '.', ',') }}">
		<th>Destroyed:</th>
		<td class="item_destroyed"><span format="format-dec2-once-i" raw="{{ extra.destroyediskWship }}">{{ extra.destroyediskWship | number_format(2, '.', ',') }} ISK</span><span style='color: #888;'> (w/ship)</span></td>
	</tr>
	<tr class="item_dropped_row" rel="tooltip" title="&#36;{{ extra.droppedprice.usd|number_format(2, '.', ',') }} / {{ extra.droppedprice.eur|number_format(2, '.', ',') }}&euro; / &pound;{{ extra.droppedprice.gbp|number_format(2, '.', ',') }}">
		<th>Dropped:</th>
		<td class="item_dropped" format="format-dec2-once-i" raw="{{ extra.droppedisk }}">{{ extra.droppedisk|number_format(2, '.', ',') }} ISK</td>
	</tr>
    {% if extra.fittedisk > 0 %}
    <tr rel="tooltip" title="&#36;{{ extra.fittedprice.usd|number_format(2, '.', ',') }} / {{ extra.fittedprice.eur|number_format(2, '.', ',') }}&euro; / &pound;{{ extra.fittedprice.gbp|number_format(2, '.', ',') }}">
        <th>Ship+Fit:</th>
        <td class="item_fitted" format="format-dec2-once-i" raw="{{ extra.fittedisk }}">{{ extra.fittedisk | number_format(2, '.', ',') }} ISK</td>
    </tr>
    {% endif %}
	<tr rel="tooltip" title="&#36;{{ extra.totalprice.usd|number_format(2, '.', ',') }} / {{ extra.totalprice.eur|number_format(2, '.', ',') }}&euro; / &pound;{{ extra.totalprice.gbp|number_format(2, '.', ',') }}">
		<th>Total:</th>
		<td><strong class="item_dropped" format="format-dec2-once-i" raw="{{ extra.totalisk }}">{{ extra.totalisk|number_format(2, '.', ',') }} ISK</strong></td>
	</tr>
        {% if extra.sponsoredIsk %}
        <tr>
            <th>Sponsored:<br/>(alltime)</th>
            <td format="format-dec2-once-i" raw="{{ extra.sponsoredIsk }}">{{ extra.sponsoredIsk|number_format(0) }} ISK</td>
        </tr>
        {% endif %}
</table>
</div>
