{% include 'components/pager.html' %}
<section class="war-kill-list-shell kill-list-shell">
	<header class="kill-list-header war-kill-list-header">
		<h3 class="kill-list-title">{{ killListTitle }}</h3>
	</header>
	<div id="killmailstobdy" class="war-kill-list">
		{% if killList|length == 0 %}
			<div id="kms_loading" class="war-kill-empty"><em>loading</em></div>
		{% else %}
			{% include 'components/war_kill_list_row.html' %}
		{% endif %}
	</div>
</section>
{% include 'components/pager.html' %}
